<div
  style="
    width: 100%;
    font-size: 10px;
    border-bottom: 1px solid #d2d0d0;
    padding-bottom: 5px;
    font-family: sans-serif;
    padding-left: 10px;
    padding-right: 10px;
    color: #858181;
    display: flex;
    align-items: stretch; /* Ensures both divs align vertically */
  "
>
  <table
    style="
      width: 70%;
      border-collapse: collapse;
      margin-bottom: 20px;
      color: #d2d0d0;
      height: 100%; /* Ensures the table takes full height */
    "
    border="1"
  >
    <tr>
      <td colspan="2" style="text-align: center; padding: 0.5%">
        <b>PRODUCT QUALITY REVIEW REPORT </b>
      </td>
    </tr>
    <tr>
      <td style="padding: 0.5%">PQR NO.</td>
      <td style="padding: 0.5%"><%= product.pqrNo %></td>
    </tr>
    <tr>
      <td style="padding: 0.5%">PRODUCT NAME</td>
      <td style="padding: 0.5%"><%= product.productName %></td>
    </tr>
    <tr>
      <td style="padding: 0.5%">GENERIC NAME</td>
      <td style="padding: 0.5%"><%= product.genericName %></td>
    </tr>
    <tr>
      <td>PRODUCT CODE</td>
      <td style="padding: 0.5%"><%= product.productCode %></td>
    </tr>
  </table>

  <div
    style="
      width: 30%;
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      border: 0.5px solid #858181;
      height: 100%; /* Ensures this div takes full height */
      border-left: 0;
    "
  >
    <div
      style="
        display: flex;
        align-items: center;
        justify-content: center;
        height: 50%;
        border-bottom: 0.5px solid #858181; /* Border between images */
        padding: 0.5%;
      "
    >
      <img src="<%= base64Image %>" alt="Vidyagxp logo" style="width: 70%; height: 40px" />
    </div>
    <div
      style="
        display: flex;
        align-items: center;
        justify-content: center;
        height: 50%;
        padding: 0.5%;
      "
    >
      <img src="<%= base64Logo2 %>" alt="Vidyagxp logo" style="width: 70%; height: 40px" />
    </div>
  </div>
</div>
