<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Product Quality Review Report</title>
    <style>
      body {
        font-family: Arial, sans-serif;
        margin: 0;
      }
      table {
        width: 100%;
        border-collapse: collapse;
        margin-bottom: 20px;
        border-right: 2px solid black;
      }
      th,
      td {
        border: 2px solid black;
        padding: 8px;
        text-align: left;
      }
      th {
        background-color: #f2f2f2;
      }
      .highlight {
        background-color: yellow;
      }
      .text-center {
        text-align: center;
      }
      .header {
        font-family: monospace;
      }
      .summary {
        display: flex;
        flex-direction: column;
        /* align-items: center; */
      }
    </style>
  </head>
  <body>
    <!-- Tab 1 -->
    <h1>General Information</h1>
    <table>
      <tr>
        <td>PQR NO.</td>
        <td><%= product.pqrNo %></td>
      </tr>
      <tr>
        <td>PRODUCT NAME</td>
        <td><%= product.productName %></td>
      </tr>
      <tr>
        <td>GENERIC NAME</td>
        <td><%= product.genericName %></td>
      </tr>
      <tr>
        <td>PRODUCT CODE</td>
        <td><%= product.productCode %></td>
      </tr>
      <tr>
        <td>REVIEW PERIOD</td>
        <td><%= product.reviewPeriod %></td>
      </tr>
      <tr>
        <td>MFG. LIC. No.</td>
        <td><%= product.mfgLicNo %></td>
      </tr>
    </table>

    <h3>Manufacturing Site Address</h3>
    <table>
      <tr>
        <th>Product Name	</th>
        <th>SFGCode</th>
        <th>FG Code</th>
      </tr>
      <% product.manufacturingStage.map((obj) => { %>
      <tr>
        <td><%= obj.productName %></td>
        <td><%= obj.sFGCode %></td>
        <td><%= obj.fGCode %></td>
      </tr>
      <% }); %>
    </table>

      <div class="summary">
      <h3>Manufacturing Site Address Summary :-</h3>
      &nbsp &nbsp
      <p><%= product.msaSummary %></p>
    </div>

      <h3>Manufacturing Site Address 2</h3>
    <table>
      <tr>
        <th>Product Name	</th>
        <th>Batch Code</th>
        <th>SFGCode</th>
        <th>remarks</th>
      </tr>
      <% product.manufacturingSAPS.map((obj) => { %>
      <tr>
        <td><%= obj.productName %></td>
        <td><%= obj.batchCode %></td>
        <td><%= obj.sFGCode %></td>
        <td><%= obj.remarks %></td>
      </tr>
      <% }); %>
    </table>

      <div class="summary">
      <h3>Manufacturing Site Address 2  Summary:-</h3>
      &nbsp &nbsp
      <p><%= product.msa2Summary %></p>
    </div>


    <!-- Tab 2 -->
    <h1>Warehouse Review</h1>
    <h2>Review of Rejected Raw Materials and Packaging Materials</h1>

    <h3>Raw Materials Rejection Grid</h3>
    <table>
      <thead>
        <tr>
          <th>SI No</th>
          <th>Material Code</th>
          <th>Material Name</th>
          <th>Lot No/AR No</th>
          <th>Reason For Rejection</th>
          <th>Description</th>
        </tr>
      </thead>
      <tbody>
        <% product.rawMRS.forEach((item) => { %>
        <tr>
          <td><%= item.slNo %></td>    
          <td><%= item.materialCode %></td>
          <td><%= item.materialName %></td>
          <td><%= item.ARNo %></td>
          <td><%= item.reasonOfRejection %></td>
          <td><%= item.description %></td>
        </tr>
        <% }); %>
      </tbody>
    </table>

    <div class="summary">
      <h3>Raw Materials Rejection Summary :-</h3>
      &nbsp &nbsp
      <p><%= product.rawMRSSummary %></p>
    </div>

    <h3>Packing Materials Rejection Grid</h3>
    <table>
      <thead>
        <tr>
          <th>SI No</th>
          <th>Material Code</th>
          <th>Material Name</th>
          <th>Lot No/AR No</th>
          <th>Reason For Rejection</th>
          <th>Description</th>
        </tr>
      </thead>
      <tbody>
        <% product.packingMRS.forEach((item) => { %>
        <tr>
          <td><%= item.SI_No %></td>
          <td><%= item.materialCode %></td>
          <td><%= item.materialName %></td>
          <td><%= item.ARNo %></td>
          <td><%= item.reasonForRepacking %></td>
          <td><%= item.description %></td>
        </tr>
        <% }); %>
      </tbody>
    </table>

    <div class="summary">
      <h3>Packaging Materials Rejection Summary :-</h3>
      &nbsp &nbsp
      <p><%= product.packingMRSummary %></p>
    </div>

    <h2>Review of Expired Raw Materials and Packaging Materials</h2>
    <h3>Expired Raw Materials Details</h3>
    <table>
      <thead>
        <tr>
          <th>SI No</th>
          <th>Material Code</th>
          <th>Material Name</th>
          <th>Lot No/AR No</th>
          <th>Expiry Date</th>
        </tr>
      </thead>
      <tbody>
        <% product.expiredRMD.forEach((item) => { %>
        <tr>
          <td><%= item.SI_No %></td>
          <td><%= item.materialCode %></td>
          <td><%= item.materialName %></td>
          <td><%= item.ARNo %></td>
          <td><%= item.expiryDate %></td>
        </tr>
        <% }); %>
      </tbody>  
    </table>

    <div class="summary">
      <h3>Expired Raw Materials Summary :-</h3>
      &nbsp &nbsp
      <p><%= product.expiredRMDSummary %></p>
    </div>

    <h3>Expired Packaging Materials Details</h3>
    <table>
      <thead>
        <tr>
          <th>SI No</th>
          <th>Material Code</th>
          <th>Material Name</th>
          <th>Lot No/AR No</th>
          <th>Expiry Date</th>
        </tr>
      </thead>
      <tbody>
        <% product.expiredPMD.forEach((item) => { %>
        <tr>
          <td><%= item.SI_No %></td>
          <td><%= item.materialCode %></td>
          <td><%= item.materialName %></td>
          <td><%= item.ARNo %></td>
          <td><%= item.expiryDate %></td>
        </tr>
        <% }); %>
      </tbody>
    </table>

    <div class="summary">
      <h3>Expired Packaging Materials Summary :-</h3>
      &nbsp &nbsp
      <p><%= product.expiredPMDSummary %></p>
    </div>

    <h2>Review of Approved Supplier List:</h2>
    <table>
      <thead>
        <tr>
          <th>SI No</th>
          <th>Material Code</th>
          <th>Material Name</th>
          <th>Manufacturer / Supplier / Vendor</th>
          <th>Facility</th>
        </tr>
      </thead>
      <tbody>
        <% product.reviewOfASL.forEach((item) => { %>
        <tr>
          <td><%= item.SI_No %></td>
          <td><%= item.materialCode %></td>
          <td><%= item.materialName %></td>
          <td><%= item.manufacturer %></td>
          <td><%= item.facility %></td>
        </tr>
        <% }); %>
      </tbody>
    </table>

    <div class="summary">
      <h3>Summary of Review of Approved Supplier List :-</h3>
      &nbsp &nbsp
      <p><%= product.reviewOfASLSummary %></p>
    </div>

    <h2>Vendor Qualification Details of Raw Material Excipients</h2>
    <table>
      <thead>
        <tr>
          <th>Material Name</th>
          <th>Material Code</th>
          <th>Manufacturer Name</th>
          <th>Qualification Status</th>
          <th>remarks</th>
        </tr>
      </thead>
      <tbody>
        <% product.vendorQDORME.forEach((item) => { %>
        <tr>
          <td><%= item.materialName %></td>
          <td><%= item.materialCode %></td>
          <td><%= item.manufacturerName %></td>
          <td><%= item.qualificationStatus %></td>
          <td><%= item.remarks %></td>
        </tr>
        <% }); %>
      </tbody>
    </table>

    <div class="summary">
      <h3>Summary of Vendor Qualification Details of Raw Material Excipients :-</h3>
      &nbsp &nbsp
      <p><%= product.vendorQDORMESummary %></p>
    </div>

    <h2>Vendor Qualification Details of Primary Packing Materials</h2>
    <table>
      <thead>
        <tr>
          <th>Material Name</th>
          <th>Material Code</th>
          <th>Manufacturer Name</th>
          <th>Qualification Status</th>
        </tr>
      </thead>
      <tbody>
        <% product.vendorQDOPPM.forEach((item) => { %>
        <tr>
          <td><%= item.materialName %></td>
          <td><%= item.materialCode %></td>
          <td><%= item.manufacturerName %></td>
          <td><%= item.qualificationStatus %></td>
        </tr>
        <% }); %>
      </tbody>
    </table>

    <div class="summary">
      <h3>Summary of Vendor Qualification Details of Primary Packing Materials :-</h3>
      &nbsp &nbsp
      <p><%= product.vendorQDOPPMSummary %></p>
    </div>

    <h2>Vendor Qualification Details of Process Gases</h2>
    <table>
      <thead>
        <tr>
          <th>Gas Name</th>
          <th>Gas Code</th>
          <th>Manufacturer Name</th>
          <th>Qualification Status</th>
        </tr>
      </thead>
      <tbody>
        <% product.vendorQDPOG.forEach((item) => { %>
        <tr>
          <td><%= item.gasName %></td>
          <td><%= item.gasCode %></td>
          <td><%= item.manufacturerName %></td>
          <td><%= item.qualificationStatus %></td>
        </tr>
        <% }); %>
      </tbody>
    </table>

    <div class="summary">
      <h3>Summary of Vendor Qualification Details of Process Gases :-</h3>
      &nbsp &nbsp
      <p><%= product.vendorQDPOGSummary %></p>
    </div>

    <!-- Tab 3 -->
     <h1>Manufacturing Review</h1>
      <table>
        <tr>
          <td>PRODUCT DESCRIPTION</td>
          <td><%= product.productInfo %></td>
        </tr>
        <tr>
          <td>Process Flow</td>
          <td><%= product.processFlow %></td>
        </tr>
      </table>

    <h2>Review of all Batches Manufactured</h2>

      <table>
        <tr>
          <td style="text-transform: uppercase;">Total No. of batches manufactured during the current review period</td>
          <td><%= product.totalBatchesManu %></td>
        </tr>
        <tr>
          <td style="text-transform: uppercase;">Total No. of batches Approved & Released</td>
          <td><%= product.totalBatchesApproved %></td>
        </tr>
        <tr>
          <td style="text-transform: uppercase;">Total No. of Process Validation Batches</td>
          <td><%= product.totalNoValidationprocessedBatches %></td>
        </tr>
        <tr>
          <td style="text-transform: uppercase;">Total No. of Reprocessed Batches</td>
          <td><%= product.totalNoReprocessedBatches %></td>
        </tr>

      </table>

<!-- //Table Summary -->
    <div class="summary">
      <h3>  Process Validation Batches Details:-</h3>
      &nbsp &nbsp
      <p><%= product.processValidationBatchesDetails %></p>
    </div>
    <div class="summary">
      <h3>  Reprocessing Details	:-</h3>
      &nbsp &nbsp
      <p><%= product.reprocessingDetails %></p>
    </div>
    <div class="summary">
      <h3>  Microbial Excursion Details		:-</h3>
      &nbsp &nbsp
      <p><%= product.microbialExcursionDetails %></p>
    </div>


    <h2>Code to code transfer details</h2>
    <table>
      <thead>
        <tr style="text-transform: uppercase;">
          <th>SL NO</th>
          <th>Batch Number</th>
          <th>Existing Code</th>
          <th>Existing Market</th>
          <th>Proposed Code</th>
          <th>Proposed Market</th>
          <th>Transfter Quantity</th>
          <th>Ref No</th>
        </tr>
      </thead>
      <tbody>
        <% product.codeTCTD.forEach((item) => { %>
        <tr>
          <td><%= item.Sl_No %></td>
          <td><%= item.batchNo %></td>
          <td><%= item.existingCode %></td>
          <td><%= item.existingMarket %></td>
          <td><%= item.proposedCode %></td>
          <td><%= item.proposedMarket %></td>
          <td><%= item.transferQuality %></td>
          <td><%= item.refNo %></td>
        </tr>
        <% }); %>
      </tbody>
    </table>

    <div class="summary">
      <h3>Summary of Code to Code Transfer Details :-</h3>
      &nbsp &nbsp
      <p><%= product.codeTCTDSummary %></p>
    </div>

    <div class="summary">
      <h3>Review of Manufacturing Process, Packing Process and relevant Validation Status :-</h3>
      &nbsp &nbsp
      <p><%= product.reviewOFManuProcessSummary %></p>
    </div>

    <h2>Review of Reprocessing/Repacking/Reworking along with CAPA and Effectiveness Check Verification (if any)</h2>
    <div class="summary">
      <h3>Batch reprocessing/reworking process Details :-</h3>
      &nbsp &nbsp
      <p><%= product.brpDetails %></p>
    </div>

    <div class="summary">
      <h3>Batch Repacking Details :-</h3>
      &nbsp &nbsp
      <p><%= product.batchRepackingDetails %></p>
    </div>

    <h3>Review of Reprocessing/Repacking/Reworking Grid</h3>
    <table>
      <thead>
        <tr style="text-transform: uppercase;">
          <th>SL NO</th>
          <th> Packing Batch Number</th>
          <th>Manufacturin Batch Number</th>
          <th>Repacking Issued Number</th>
          <th>Repacking For</th>
          <th>QMS</th>
          <th>Reason For Repacking</th>
        </tr>
      </thead>
      <tbody>
        <% product.reviewORCEC.forEach((item) => { %>
        <tr>
          <td><%= item.Sl_No %></td>
          <td><%= item.packingBatchNumber %></td>
          <td><%= item.manufacturingBatchNumber %></td>
          <td><%= item.repackingIssuedNumber %></td>
          <td><%= item.repackingFor %></td>
          <td><%= item.qMS %></td>
          <td><%= item.reasonForRepacking %></td>
        </tr>
        <% }); %>
      </tbody>
    </table>

    <div class="summary">
      <h3>Review of Reprocessing/Repacking/Reworking Summary :-</h3>
      &nbsp &nbsp
      <p><%= product.reviewORCECSummary %></p>
    </div>


    <h3>Capa Details</h3>
    <table>
      <thead>
        <tr style="text-transform: uppercase;">
          <th>AR No</th>
          <th>CAPAType</th>
          <th>Description of Issue</th>
          <th>Root Cause</th>
          <th>CAPA Verification</th>
          <th>File Attachment</th>
          <th>Remarks</th>
        </tr>
      </thead>
      <tbody>
        <% product.capaDetails.forEach((item) => { %>
        <tr>
          <td><%= item.ARNo %></td>
          <td><%= item.capaType %></td>
          <td><%= item.descriptionOfIssue %></td>
          <td><%= item.rootCause %></td>
          <td><%= item.capaVerification %></td>
          <td><%= item.fileAttachment %></td>
          <td><%= item.remarks %></td>
        </tr>
        <% }); %>
      </tbody>
    </table>

    <div class="summary">
      <h3>Summary of CAPA Details :-</h3>
      &nbsp &nbsp
      <p><%= product.capaDetailsSummary %></p>
    </div>

    <h3>Deviation Details</h3>
    <table>
      <thead>
        <tr style="text-transform: uppercase;">
          <th>AR No</th>
          <th>Deviation Related To	</th>
          <th>Description</th>
          <th>Root Cause</th>
          <th>Deviation Ovserved On	</th>
          <th>Deviation Ovserved By	</th>
          <th>Classification of Deviation	</th>
          <th>file Attachment	</th>
          <th>remarks</th>
          <th>Status  </th>

        </tr>
      </thead>
      <tbody>
        <% product.deviationDetails.forEach((item) => { %>
        <tr>
          <td><%= item.ARNo %></td>
          <td><%= item.deviationRelatedTo %></td>
          <td><%= item.description %></td>
          <td><%= item.rootCause %></td>
          <td><%= item.deviationObservedOn %></td>
          <td><%= item.deviationObservedBy %></td>
          <td><%= item.classificationOfDeviation %></td>
          <td><%= item.fileAttachment %></td>
          <td><%= item.remarks %></td>
          <td><%= item.status %></td>
        </tr>
        <% }); %>
      </tbody>
    </table>

    <div class="summary">
      <h3>Summary of Deviation Details :-</h3>
      &nbsp &nbsp
      <p><%= product.deviationDetailsSummary %></p>
    </div>

    <h2>Review of all Batch Failures/Rejections along with CAPA and Effectiveness Check Verification (if any):</h2>

    <div class="summary">
      <h3>Batch Failures/Rejections Details :-</h3>
      &nbsp &nbsp
      <p><%= product.batchFailuresRejectionsSummary %></p>
    </div>

    <h3>OOS Details</h3>
    <table>
      <thead>
        <tr style="text-transform: uppercase;">
          <th>AR No</th>
          <th>Test Name Of OOS</th>
          <th>Results Obtained</th>
          <th>Specification Limit</th>
          <th>Details of Obvious error</th>
          <th>File Attachment</th>
        </tr>
      </thead>
      <tbody>
        <% product.oosDetails.forEach((item) => { %>
        <tr>
          <td><%= item.ARNo %></td>
            <td><%= item.testNameOfOos %></td>
          <td><%= item.resultsObtained %></td>
          <td><%= item.specificationLimit %></td>
          <td><%= item.detailsOfObviousError %></td>
          <td><%= item.fileAttachment %></td>
        </tr>
        <% }); %>
      </tbody>
    </table>

    <div class="summary">
      <h3>Summary of OOS Details :-</h3>
      &nbsp &nbsp
      <p><%= product.oosDetailsSummary %></p> 
    </div>

    <h3>OOT Results</h3>
    <table>
      <thead
        <tr style="text-transform: uppercase;">
          <th>AR No</th>
          <th>Test Name Of OOT</th>
          <th>Results Obtained</th>
          <th>Initial Interval Details</th>
          <th>Previous Interval Details</th>
          <th>% Difference Of Details</th>
          <th>Trend Alert</th>
        </tr>
      </thead>
      <tbody>
        <% product.ootResults.forEach((item) => { %>
        <tr>
          <td><%= item.ARNo %></td>
          <td><%= item.testNameOfOot %></td>
          <td><%= item.resultsObtained %></td>
          <td><%= item.initialIntervalDetails %></td>
          <td><%= item.previousIntervalDetails %></td>
          <td><%= item.diffrenceOfResult %></td>
          <td><%= item.trendLimit %></td>
        </tr>
        <% }); %>
      </tbody>
    </table>

    <div class="summary">
      <h3>Summary of OOT Details :-</h3>
      &nbsp &nbsp
      <p><%= product.ootResultsSummary %></p>
    </div>

    <h3>OOA Results</h3>
    <table>
      <thead>
        <tr style="text-transform: uppercase;">
          <th>AR No</th>
          <th>Test Name Of Alert</th>
          <th>Results Obtained</th>
          <th>Initial Interval Details</th>
          <th>Previous Interval Details</th>
          <th>% Difference Of Details</th>
          <th>Trend Alert</th>
        </tr>
      </thead>
      <tbody>
        <% product.ooaResults.forEach((item) => { %>
        <tr>
          <td><%= item.ARNo %></td>
          <td><%= item.testNameOfAlert %></td>
          <td><%= item.resultsObtained %></td>
          <td><%= item.initialIntervalDetails %></td>
          <td><%= item.previousIntervalDetails %></td>  
          <td><%= item.diffrenceOfResult %></td>
          <td><%= item.trendLimit %></td>
        </tr>
        <% }); %>
      </tbody>
    </table>

    <div class="summary">
      <h3>Summary of OOA Details :-</h3> 
      &nbsp &nbsp
      <p><%= product.ooaResultsSummary %></p>
    </div>

    <h3>OOL Results</h3>
    <table>
      <thead>
        <tr style="text-transform: uppercase;">
          <th>AR No</th>
          <th>Test Name Of OOL</th>
          <th>Results Obtained</th>
          <th>Initial Interval Details</th>
          <th>Previous Interval Details</th>
          <th>% Difference Of Details</th>
          <th>Trend Alert</th>
        </tr>
      </thead>
      <tbody>
        <% product.oolResults.forEach((item) => { %>
        <tr>
          <td><%= item.ARNo %></td>
          <td><%= item.testNameOfOot %></td>
          <td><%= item.resultsObtained %></td>
          <td><%= item.initialIntervalDetails %></td>
          <td><%= item.previousIntervalDetails %></td>
          <td><%= item.diffrenceOfResult %></td>
          <td><%= item.trendLimit %></td>
        </tr>
        <% }); %>
      </tbody>
    </table>

    <div class="summary">
      <h3>Summary of OOL Details :-</h3>
      &nbsp &nbsp
      <p><%= product.oolResultsSummary %></p>
    </div>

    <h2>Review of Product Quality (Critical Process Parameters)</h2>
    <h3>Unit Operation 1</h3>
    <table>
      <thead>
        <tr style="text-transform: uppercase;">
          <th rowspan="2">Critical Process Parameter</th>
          <th rowspan="2">codes</th>
          <th rowspan="2">Acceptance criteria</th>
          <th class="text-center" colspan="2">Results </th>
          <th rowspan="2">Complies / Does not complies</th>
        </tr>
        <tr>
          <th>Minimum</th>
          <th>Maximum</th>
        </tr>
      </thead>
      <tbody>
        <% product.unitOperation1.forEach((item) => { %>
        <tr>
          <td><%= item.criticalProcessParameter %></td>
          <td><%= item.codes %></td>
          <td><%= item.acceptanceCriteria %></td>
          <td><%= item.results.minimum  %></td>
          <td><%= item.results.maximum %></td>
          <td><%= item.compliesNotComplies %></td>
        </tr>
        <% }); %>
      </tbody>
    </table>

        <h3>Unit Operation 2</h3>
    <table>
      <thead>
        <tr style="text-transform: uppercase;">
          <th rowspan="2">Critical Process Parameter</th>
          <th rowspan="2">codes</th>
          <th rowspan="2">Acceptance criteria</th>
          <th class="text-center" colspan="2">Results </th>
          <th rowspan="2">Complies / Does not complies</th>
        </tr>
        <tr>
          <th>Minimum</th>
          <th>Maximum</th>
        </tr>
      </thead>
      <tbody>
        <% product.unitOperation2.forEach((item) => { %>
        <tr>
          <td><%= item.criticalProcessParameter %></td>
          <td><%= item.codes %></td>
          <td><%= item.acceptanceCriteria %></td>
          <td><%= item.results.minimum  %></td>
          <td><%= item.results.maximum %></td>
          <td><%= item.compliesNotComplies %></td>
        </tr>
        <% }); %>
      </tbody>
    </table>

    <h3>Unit Operation 3</h3>
    <table>
      <thead>
        <tr style="text-transform: uppercase;">
          <th rowspan="2">Critical Process Parameter</th>
          <th rowspan="2">codes</th>
          <th rowspan="2">Acceptance criteria</th>
          <th class="text-center" colspan="2">Results </th>
          <th rowspan="2">Complies / Does not complies</th>
        </tr>
        <tr>
          <th>Minimum</th>
          <th>Maximum</th>
        </tr>
      </thead>
      <tbody>
        <% product.unitOperation3.forEach((item) => { %>
        <tr>
          <td><%= item.criticalProcessParameter %></td>
          <td><%= item.codes %></td>
          <td><%= item.acceptanceCriteria %></td>
          <td><%= item.results.minimum  %></td>
          <td><%= item.results.maximum %></td>
          <td><%= item.compliesNotComplies %></td>
        </tr>
        <% }); %>
      </tbody>
    </table>

    <h3>Unit Operation 4</h3>
    <table>
      <thead>
        <tr style="text-transform: uppercase;">
          <th rowspan="2">Critical Process Parameter</th>
          <th rowspan="2">codes</th>
          <th rowspan="2">Acceptance criteria</th>
          <th class="text-center" colspan="2">Results </th>
          <th rowspan="2">Complies / Does not complies</th>
        </tr>
        <tr>
          <th>Minimum</th>
          <th>Maximum</th>
        </tr>
      </thead>
      <tbody>
        <% product.unitOperation4.forEach((item) => { %>
        <tr>
          <td><%= item.criticalProcessParameter %></td>
          <td><%= item.codes %></td>
          <td><%= item.acceptanceCriteria %></td>
          <td><%= item.results.minimum  %></td>
          <td><%= item.results.maximum %></td>
          <td><%= item.compliesNotComplies %></td>
        </tr>
        <% }); %>
      </tbody>
    </table>

    <h3>Unit Operation 5</h3>
    <table>
      <thead>
        <tr style="text-transform: uppercase;">
          <th rowspan="2">Critical Process Parameter</th>
          <th rowspan="2">codes</th>
          <th rowspan="2">Acceptance criteria</th>
          <th class="text-center" colspan="2">Results </th>
          <th rowspan="2">Complies / Does not complies</th>
        </tr>
        <tr>
          <th>Minimum</th>
          <th>Maximum</th>
        </tr>
      </thead>
      <tbody>
        <% product.unitOperation5.forEach((item) => { %>
        <tr>
          <td><%= item.criticalProcessParameter %></td>
          <td><%= item.codes %></td>
          <td><%= item.acceptanceCriteria %></td>
          <td><%= item.results.minimum  %></td>
          <td><%= item.results.maximum %></td>
          <td><%= item.compliesNotComplies %></td>
        </tr>
        <% }); %>
      </tbody>
    </table>

    <h3>Unit Operation 6</h3>
    <table>
      <thead>
        <tr style="text-transform: uppercase;">
          <th rowspan="2">Critical Process Parameter</th>
          <th rowspan="2">codes</th>
          <th rowspan="2">Acceptance criteria</th>
          <th class="text-center" colspan="2">Results </th>
          <th rowspan="2">Complies / Does not complies</th>
        </tr>
        <tr>
          <th>Minimum</th>
          <th>Maximum</th>
        </tr>
      </thead>
      <tbody>
        <% product.unitOperation6.forEach((item) => { %>
        <tr>
          <td><%= item.criticalProcessParameter %></td>
          <td><%= item.codes %></td>
          <td><%= item.acceptanceCriteria %></td>
          <td><%= item.results.minimum  %></td>
          <td><%= item.results.maximum %></td>
          <td><%= item.compliesNotComplies %></td>
        </tr>
        <% }); %>
      </tbody>
    </table>

    <h3>Unit Operation 7</h3>
    <table>
      <thead>
        <tr style="text-transform: uppercase;">
          <th rowspan="2">Critical Process Parameter</th>
          <th rowspan="2">codes</th>
          <th rowspan="2">Acceptance criteria</th>
          <th class="text-center" colspan="2">Results </th>
          <th rowspan="2">Complies / Does not complies</th>
        </tr>
        <tr>
          <th>Minimum</th>
          <th>Maximum</th>
        </tr>
      </thead>
      <tbody>
        <% product.unitOperation7.forEach((item) => { %>
        <tr>
          <td><%= item.criticalProcessParameter %></td>
          <td><%= item.codes %></td>
          <td><%= item.acceptanceCriteria %></td>
          <td><%= item.results.minimum  %></td>
          <td><%= item.results.maximum %></td>
          <td><%= item.compliesNotComplies %></td>
        </tr>
        <% }); %>
      </tbody>
    </table>

    <h3>Unit Operation 8</h3>
    <table>
      <thead>
        <tr style="text-transform: uppercase;">
          <th rowspan="2">Critical Process Parameter</th>
          <th rowspan="2">codes</th>
          <th rowspan="2">Acceptance criteria</th>
          <th class="text-center" colspan="2">Results </th>
          <th rowspan="2">Complies / Does not complies</th>
        </tr>
        <tr>
          <th>Minimum</th>
          <th>Maximum</th>
        </tr>
      </thead>
      <tbody>
        <% product.unitOperation8.forEach((item) => { %>
        <tr>
          <td><%= item.criticalProcessParameter %></td>
          <td><%= item.codes %></td>
          <td><%= item.acceptanceCriteria %></td>
          <td><%= item.results.minimum  %></td>
          <td><%= item.results.maximum %></td>
          <td><%= item.compliesNotComplies %></td>
        </tr>
        <% }); %>
      </tbody>
    </table>

    <h3>Unit Operation 9</h3>
    <table>
      <thead>
        <tr style="text-transform: uppercase;">
          <th rowspan="2">Critical Process Parameter</th>
          <th rowspan="2">codes</th>
          <th rowspan="2">Acceptance criteria</th>
          <th class="text-center" colspan="2">Results </th>
          <th rowspan="2">Complies / Does not complies</th>
        </tr>
        <tr>
          <th>Minimum</th>
          <th>Maximum</th>
        </tr>
      </thead>
      <tbody>
        <% product.unitOperation9.forEach((item) => { %>
        <tr>
          <td><%= item.criticalProcessParameter %></td>
          <td><%= item.codes %></td>
          <td><%= item.acceptanceCriteria %></td>
          <td><%= item.results.minimum  %></td>
          <td><%= item.results.maximum %></td>
          <td><%= item.compliesNotComplies %></td>
        </tr>
        <% }); %>
      </tbody>
    </table>

    <h3>Unit Operation 10</h3>
    <table>
      <thead>
        <tr style="text-transform: uppercase;">
          <th rowspan="2">Critical Process Parameter</th>
          <th rowspan="2">codes</th>
          <th rowspan="2">Acceptance criteria</th>
          <th class="text-center" colspan="2">Results </th>
          <th rowspan="2">Complies / Does not complies</th>
        </tr>
        <tr>
          <th>Minimum</th>
          <th>Maximum</th>
        </tr>
      </thead>
      <tbody>
        <% product.unitOperation10.forEach((item) => { %>
        <tr>
          <td><%= item.criticalProcessParameter %></td>
          <td><%= item.codes %></td>
          <td><%= item.acceptanceCriteria %></td>
          <td><%= item.results.minimum  %></td>
          <td><%= item.results.maximum %></td>
          <td><%= item.compliesNotComplies %></td>
        </tr>
        <% }); %>
      </tbody>
    </table>

    <div class="summary">
      <h3>Critical Process Parameters Review Summary :-</h3>
      &nbsp &nbsp
      <p><%= product.CPPRSSummary %></p>
    </div>  


    <!-- Tab 4 -->
    <h1>Laboratory Review</h1>
    <h2>Review of Drug Substance Test Results
    </h2>
    <h3>Drug Substance 1 Test Result
    </h3>

    <table>
      <thead>
        <tr style="text-transform: uppercase;">
          <th rowspan="2">Sl. No</th>
          <th rowspan="2">Tests parameter</th>
          <th rowspan="2">Specification limit</th>
          <th class="text-center" colspan="2">Obtained value </th>
          <th rowspan="2">Complies / Does not complies</th>
        </tr>
        <tr>
          <th>Minimum</th>
          <th>Maximum</th>
        </tr>
      </thead>
      <tbody>
        <% product.Ds1Results.forEach((item) => { %>
        <tr>
          <td><%= item.Sl_No %></td>
          <td><%= item.Testsparameter %></td>
          <td><%= item.Specification_limit %></td>
          <td><%= item.Obtained.Minimum %></td>
          <td><%= item.Obtained.Maximum %></td>
          <td><%= item.compliesNotComplies %></td>
        </tr>
        <% }); %>
      </tbody>
    </table>

    <h3>Drug Substance 2 Test Result
    </h3>

    <table>
      <thead>
        <tr style="text-transform: uppercase;">
          <th rowspan="2">Sl. No</th>
          <th rowspan="2">Tests parameter</th>
          <th rowspan="2">Specification limit</th>
          <th class="text-center" colspan="2">Obtained value </th>
          <th rowspan="2">Complies / Does not complies</th>
        </tr>
        <tr>
          <th>Minimum</th>
          <th>Maximum</th>
        </tr>
      </thead>
      <tbody>
        <% product.Ds2Results.forEach((item) => { %>
        <tr>
          <td><%= item.Sl_No %></td>
          <td><%= item.Testsparameter %></td>
          <td><%= item.Specification_limit %></td>
          <td><%= item.Obtained.Minimum %></td>
          <td><%= item.Obtained.Maximum %></td>
          <td><%= item.compliesNotComplies %></td>
        </tr>
        <% }); %>
      </tbody>
    </table>

    <h3>Drug Substance 3 Test Result
    </h3>

    <table>
      <thead>
        <tr style="text-transform: uppercase;">
          <th rowspan="2">Sl. No</th>
          <th rowspan="2">Tests parameter</th>
          <th rowspan="2">Specification limit</th>
          <th class="text-center" colspan="2">Obtained value </th>
          <th rowspan="2">Complies / Does not complies</th>
        </tr>
        <tr>
          <th>Minimum</th>
          <th>Maximum</th>
        </tr>
      </thead>
      <tbody>
        <% product.Ds3Results.forEach((item) => { %>
        <tr>
          <td><%= item.Sl_No %></td>
          <td><%= item.Testsparameter %></td>
          <td><%= item.Specification_limit %></td>
          <td><%= item.Obtained.Minimum %></td>
          <td><%= item.Obtained.Maximum %></td>
          <td><%= item.compliesNotComplies %></td>
        </tr>
        <% }); %>
      </tbody>
    </table>

    <h3>Drug Substance 4 Test Result
    </h3>

    <table>
      <thead>
        <tr style="text-transform: uppercase;">
          <th rowspan="2">Sl. No</th>
          <th rowspan="2">Tests parameter</th>
          <th rowspan="2">Specification limit</th>
          <th class="text-center" colspan="2">Obtained value </th>
          <th rowspan="2">Complies / Does not complies</th>
        </tr>
        <tr>
          <th>Minimum</th>
          <th>Maximum</th>
        </tr>
      </thead>
      <tbody>
        <% product.Ds4Results.forEach((item) => { %>
        <tr>
          <td><%= item.Sl_No %></td>
          <td><%= item.Testsparameter %></td>
          <td><%= item.Specification_limit %></td>
          <td><%= item.Obtained.Minimum %></td>
          <td><%= item.Obtained.Maximum %></td>
          <td><%= item.compliesNotComplies %></td>
        </tr>
        <% }); %>
      </tbody>
    </table>
    <h3>Drug Substance 5 Test Result
    </h3>

    <table>
      <thead>
        <tr style="text-transform: uppercase;">
          <th rowspan="2">Sl. No</th>
          <th rowspan="2">Tests parameter</th>
          <th rowspan="2">Specification limit</th>
          <th class="text-center" colspan="2">Obtained value </th>
          <th rowspan="2">Complies / Does not complies</th>
        </tr>
        <tr>
          <th>Minimum</th>
          <th>Maximum</th>
        </tr>
      </thead>
      <tbody>
        <% product.Ds5Results.forEach((item) => { %>
        <tr>
          <td><%= item.Sl_No %></td>
          <td><%= item.Testsparameter %></td>
          <td><%= item.Specification_limit %></td>
          <td><%= item.Obtained.Minimum %></td>
          <td><%= item.Obtained.Maximum %></td>
          <td><%= item.compliesNotComplies %></td>
        </tr>
        <% }); %>
      </tbody>
    </table>

    <h3>Drug Substance 6 Test Result
    </h3>

    <table>
      <thead>
        <tr style="text-transform: uppercase;">
          <th rowspan="2">Sl. No</th>
          <th rowspan="2">Tests parameter</th>
          <th rowspan="2">Specification limit</th>
          <th class="text-center" colspan="2">Obtained value </th>
          <th rowspan="2">Complies / Does not complies</th>
        </tr>
        <tr>
          <th>Minimum</th>
          <th>Maximum</th>
        </tr>
      </thead>
      <tbody>
        <% product.Ds6Results.forEach((item) => { %>
        <tr>
          <td><%= item.Sl_No %></td>
          <td><%= item.Testsparameter %></td>
          <td><%= item.Specification_limit %></td>
          <td><%= item.Obtained.Minimum %></td>
          <td><%= item.Obtained.Maximum %></td>
          <td><%= item.compliesNotComplies %></td>
        </tr>
        <% }); %>
      </tbody>
    </table>
    <h3>Drug Substance 7 Test Result
    </h3>

    <table>
      <thead>
        <tr style="text-transform: uppercase;">
          <th rowspan="2">Sl. No</th>
          <th rowspan="2">Tests parameter</th>
          <th rowspan="2">Specification limit</th>
          <th class="text-center" colspan="2">Obtained value </th>
          <th rowspan="2">Complies / Does not complies</th>
        </tr>
        <tr>
          <th>Minimum</th>
          <th>Maximum</th>
        </tr>
      </thead>
      <tbody>
        <% product.Ds7Results.forEach((item) => { %>
        <tr>
          <td><%= item.Sl_No %></td>
          <td><%= item.Testsparameter %></td>
          <td><%= item.Specification_limit %></td>
          <td><%= item.Obtained.Minimum %></td>
          <td><%= item.Obtained.Maximum %></td>
          <td><%= item.compliesNotComplies %></td>
        </tr>
        <% }); %>
      </tbody>
    </table>
    <h3>Drug Substance 8 Test Result
    </h3>

    <table>
      <thead>
        <tr style="text-transform: uppercase;">
          <th rowspan="2">Sl. No</th>
          <th rowspan="2">Tests parameter</th>
          <th rowspan="2">Specification limit</th>
          <th class="text-center" colspan="2">Obtained value </th>
          <th rowspan="2">Complies / Does not complies</th>
        </tr>
        <tr>
          <th>Minimum</th>
          <th>Maximum</th>
        </tr>
      </thead>
      <tbody>
        <% product.Ds8Results.forEach((item) => { %>
        <tr>
          <td><%= item.Sl_No %></td>
          <td><%= item.Testsparameter %></td>
          <td><%= item.Specification_limit %></td>
          <td><%= item.Obtained.Minimum %></td>
          <td><%= item.Obtained.Maximum %></td>
          <td><%= item.compliesNotComplies %></td>
        </tr>
        <% }); %>
      </tbody>
    </table>
    <h3>Drug Substance 9 Test Result
    </h3>

    <table>
      <thead>
        <tr style="text-transform: uppercase;">
          <th rowspan="2">Sl. No</th>
          <th rowspan="2">Tests parameter</th>
          <th rowspan="2">Specification limit</th>
          <th class="text-center" colspan="2">Obtained value </th>
          <th rowspan="2">Complies / Does not complies</th>
        </tr>
        <tr>
          <th>Minimum</th>
          <th>Maximum</th>
        </tr>
      </thead>
      <tbody>
        <% product.Ds9Results.forEach((item) => { %>
        <tr>
          <td><%= item.Sl_No %></td>
          <td><%= item.Testsparameter %></td>
          <td><%= item.Specification_limit %></td>
          <td><%= item.Obtained.Minimum %></td>
          <td><%= item.Obtained.Maximum %></td>
          <td><%= item.compliesNotComplies %></td>
        </tr>
        <% }); %>
      </tbody>
    </table>
    <h3>Drug Substance 10 Test Result
    </h3>

    <table>
      <thead>
        <tr style="text-transform: uppercase;">
          <th rowspan="2">Sl. No</th>
          <th rowspan="2">Tests parameter</th>
          <th rowspan="2">Specification limit</th>
          <th class="text-center" colspan="2">Obtained value </th>
          <th rowspan="2">Complies / Does not complies</th>
        </tr>
        <tr>
          <th>Minimum</th>
          <th>Maximum</th>
        </tr>
      </thead>
      <tbody>
        <% product.Ds10Results.forEach((item) => { %>
        <tr>
          <td><%= item.Sl_No %></td>
          <td><%= item.Testsparameter %></td>
          <td><%= item.Specification_limit %></td>
          <td><%= item.Obtained.Minimum %></td>
          <td><%= item.Obtained.Maximum %></td>
          <td><%= item.compliesNotComplies %></td>
        </tr>
        <% }); %>
      </tbody>
    </table>

    <div class="summary">
      <h3>Summary of Review of Drug Substance Test Results :-</h3>
      &nbsp &nbsp
      <p><%= product.dstSummary %></p>
    </div>  



    <h1>Engineering And Maintenance Review</h1>
    <h3>Preventive Maintenance Details
    </h3>
    <div class="summary">
      <h3>Summary of Review of Preventive Maintenance Details :-</h3>
      &nbsp &nbsp
      <p><%= product.rpmSummary %></p>
    </div> 
    <div class="summary">
      <h3>Summary of Qualification details :-</h3>
      &nbsp &nbsp
      <p><%= product.qdSummary %></p>
    </div> 
    <div class="summary">
      <h3>Summary of Calibration Details :-</h3>
      &nbsp &nbsp
      <p><%= product.cdSummary %></p>
    </div> 
    <h2>HVAC Qualification Status
    </h2>
    <table>
      <thead>
        <tr style="text-transform: uppercase;">
          <th rowspan="2">Sl. No</th>
          <th rowspan="2">Test Description</th>
          <th rowspan="2">Frequency</th>
          <th colspan="2">Status</th>
      </thead>
      <tbody>
        <% product.HqStatus.forEach((item) => { %>
        <tr>
          <td><%= item.Sl_No %></td>
          <td><%= item.TestsDescription %></td>
          <td><%= item.Frequency %></td>
          <td><%= item.Status %></td>
        </tr>
        <% }); %>
      </tbody>
    </table>
    <div class="summary">
      <h3>Summary of HVAC Qualification Status :-</h3>
      &nbsp &nbsp
      <p><%= product.hvqSummary %></p>
    </div>
    <h3>Sanitization and Sterilization Details of Utilities</h3>
    <table>
      <thead>
        <tr style="text-transform: uppercase;">
          <th rowspan="2">Sl. No</th>
          <th rowspan="2">Equipment Name</th>
          <th rowspan="2">Frequency</th>
          <th colspan="2">Status</th>
      </thead>
      <tbody>
        <% product.ssd.forEach((item) => { %>
        <tr>
          <td><%= item.Sl_No %></td>
          <td><%= item.Equipment_Name %></td>
          <td><%= item.Frequency %></td>
          <td><%= item.Status %></td>
        </tr>
        <% }); %>
      </tbody>
    </table>
    <div class="summary">
      <h3>Summary of Sanitization and Sterilization Details of Utilities :-</h3>
      &nbsp &nbsp
      <p><%= product.ssdSummary %></p>
    </div>

<h3>Compressed Gases</h3>
<table>
  <thead>
    <tr style="text-transform: uppercase;">
      <th rowspan="2">Sl. No</th>
      <th rowspan="2">Compressed Gas</th>
      <th rowspan="2">Test</th>
      <th rowspan="2">Frequency</th>
      <th colspan="2">Status</th>
  </thead>
  <tbody>
    <% product.cg.forEach((item) => { %>
    <tr>
      <td><%= item.Sl_No %></td>
      <td><%= item.CompressedGas %></td>
      <td><%= item.Test %></td>
      <td><%= item.Frequency %></td>
      <td><%= item.Status %></td>
    </tr>
    <% }); %>
  </tbody>
</table>
<div class="summary">
  <h3>Summary of Compressed Gas :-</h3>
  &nbsp &nbsp
  <p><%= product.cgSummary %></p>
</div>

<h3>Engineering Summary</h3>
<div class="summary">
  <h3>Summary of Engineering :-</h3>
  &nbsp &nbsp
  <p><%= product.eSummary %></p>
</div>

<h1>Quality System Review
</h1>
<h2>Review of Deviations
</h2>
<h3>Review of Current Period Deviations
</h3>
<table>
  <thead>
    <tr style="text-transform: uppercase;">
      <th >S. No</th>
      <th >Date Of Initiation</th>
      <th >Record No</th>
      <th >Site/Division</th>
      <th >Department</th>
      <th >Initiator</th>
      <th >Short Description</th>
      <th >Batch No</th>
      <th >Due Date</th>
      <th >Current Status</th>
  </thead>
  <tbody>
    <% product.rcpd.forEach((item) => { %>
    <tr>
      <td><%= item.S_No %></td>
      <td><%= item.Date_Of_Initiation %></td>
      <td><%= item.Record_No %></td>
      <td><%= item.Site_Division %></td>
      <td><%= item.Department %></td>
      <td><%= item.Initiator%></td>
      <td><%= item.Short_Description %></td>
      <td><%= item.Batch_No %></td>
      <td><%= item.Due_Date %></td>
      <td><%= item.Current_Status %></td>
    </tr>
    <% }); %>
  </tbody>
</table>

<h3>Previous Review Period Deviations
</h3>
<table>
  <thead>
    <tr style="text-transform: uppercase;">
      <th >S. No</th>
      <th >Date Of Initiation</th>
      <th >Record No</th>
      <th >Site/Division</th>
      <th >Department</th>
      <th >Initiator</th>
      <th >Short Description</th>
      <th >Batch No</th>
      <th >Due Date</th>
      <th >Current Status</th>
  </thead>
  <tbody>
    <% product.rppd.forEach((item) => { %>
    <tr>
      <td><%= item.S_No %></td>
      <td><%= item.Date_Of_Initiation %></td>
      <td><%= item.Record_No %></td>
      <td><%= item.Site_Division %></td>
      <td><%= item.Department %></td>
      <td><%= item.Initiator%></td>
      <td><%= item.Short_Description %></td>
      <td><%= item.Batch_No %></td>
      <td><%= item.Due_Date %></td>
      <td><%= item.Current_Status %></td>
    </tr>
    <% }); %>
  </tbody>
</table>
<div class="summary">
  <h3>Summary of Review of period Deviations :-</h3>
  &nbsp &nbsp
  <p><%= product.rdSummary %></p>
</div>

<h2>Review of OOS (Microbiological)</h2>
<h3>Current Review Period OOS</h3>
<table>
  <thead>
    <tr style="text-transform: uppercase;">
      <th >S. No</th>
      <th >Date Of Initiation</th>
      <th >Record No</th>
      <th >Site/Division</th>
      <th >Department</th>
      <th >Initiator</th>
      <th >Short Description</th>
      <th >Batch No</th>
      <th >Due Date</th>
      <th >Current Status</th>
  </thead>
  <tbody>
    <% product.crpo.forEach((item) => { %>
    <tr>
      <td><%= item.S_No %></td>
      <td><%= item.Date_Of_Initiation %></td>
      <td><%= item.Record_No %></td>
      <td><%= item.Site_Division %></td>
      <td><%= item.Department %></td>
      <td><%= item.Initiator%></td>
      <td><%= item.Short_Description %></td>
      <td><%= item.Batch_No %></td>
      <td><%= item.Due_Date %></td>
      <td><%= item.Current_Status %></td>
    </tr>
    <% }); %>
  </tbody>
</table>
<h3>Previous Review Period OOS</h3>
<table>
  <thead>
    <tr style="text-transform: uppercase;">
      <th >S. No</th>
      <th >Date Of Initiation</th>
      <th >Record No</th>
      <th >Site/Division</th>
      <th >Department</th>
      <th >Initiator</th>
      <th >Short Description</th>
      <th >Batch No</th>
      <th >Due Date</th>
      <th >Current Status</th>
  </thead>
  <tbody>
    <% product.prpo.forEach((item) => { %>
    <tr>
      <td><%= item.S_No %></td>
      <td><%= item.Date_Of_Initiation %></td>
      <td><%= item.Record_No %></td>
      <td><%= item.Site_Division %></td>
      <td><%= item.Department %></td>
      <td><%= item.Initiator%></td>
      <td><%= item.Short_Description %></td>
      <td><%= item.Batch_No %></td>
      <td><%= item.Due_Date %></td>
      <td><%= item.Current_Status %></td>
    </tr>
    <% }); %>
  </tbody>
</table>
<h3>OOS Summary</h3>
<div class="summary">
  <h3>Summary of OOS :-</h3>
  &nbsp &nbsp
  <p><%= product.oosSummary %></p>
</div>

<h2>Review of OOAC (Microbiological)</h2>
<h3>Current Review Period OOAC</h3>
<table>
  <thead>
    <tr style="text-transform: uppercase;">
      <th >S. No</th>
      <th >Date Of Initiation</th>
      <th >Record No</th>
      <th >Site/Division</th>
      <th >Department</th>
      <th >Initiator</th>
      <th >Short Description</th>
      <th >Batch No</th>
      <th >Due Date</th>
      <th >Current Status</th>
  </thead>
  <tbody>
    <% product.ooac.forEach((item) => { %>
    <tr>
      <td><%= item.S_No %></td>
      <td><%= item.Date_Of_Initiation %></td>
      <td><%= item.Record_No %></td>
      <td><%= item.Site_Division %></td>
      <td><%= item.Department %></td>
      <td><%= item.Initiator%></td>
      <td><%= item.Short_Description %></td>
      <td><%= item.Batch_No %></td>
      <td><%= item.Due_Date %></td>
      <td><%= item.Current_Status %></td>
    </tr>
    <% }); %>
  </tbody>
</table>

<h3>Previous Review Period OOAC</h3>
<table>
  <thead>
    <tr style="text-transform: uppercase;">
      <th >S. No</th>
      <th >Date Of Initiation</th>
      <th >Record No</th>
      <th >Site/Division</th>
      <th >Department</th>
      <th >Initiator</th>
      <th >Short Description</th>
      <th >Batch No</th>
      <th >Due Date</th>
      <th >Current Status</th>
  </thead>
  <tbody>
    <% product.pooac.forEach((item) => { %>
    <tr>
      <td><%= item.S_No %></td>
      <td><%= item.Date_Of_Initiation %></td>
      <td><%= item.Record_No %></td>
      <td><%= item.Site_Division %></td>
      <td><%= item.Department %></td>
      <td><%= item.Initiator%></td>
      <td><%= item.Short_Description %></td>
      <td><%= item.Batch_No %></td>
      <td><%= item.Due_Date %></td>
      <td><%= item.Current_Status %></td>
    </tr>
    <% }); %>
  </tbody>
</table>
<div class="summary">
  <h3>Summary of OOAC :-</h3>
  &nbsp &nbsp
  <p><%= product.ooacSummary %></p>
</div>

<h2>Review of OOAL(Microbiological)</h2>
<h3>Current Review Period OOAL</h3>
<table>
  <thead>
    <tr style="text-transform: uppercase;">
      <th >S. No</th>
      <th >Date Of Initiation</th>
      <th >Record No</th>
      <th >Site/Division</th>
      <th >Department</th>
      <th >Initiator</th>
      <th >Short Description</th>
      <th >Batch No</th>
      <th >Due Date</th>
      <th >Current Status</th>
  </thead>
  <tbody>
    <% product.ooal.forEach((item) => { %>
    <tr>
      <td><%= item.S_No %></td>
      <td><%= item.Date_Of_Initiation %></td>
      <td><%= item.Record_No %></td>
      <td><%= item.Site_Division %></td>
      <td><%= item.Department %></td>
      <td><%= item.Initiator%></td>
      <td><%= item.Short_Description %></td>
      <td><%= item.Batch_No %></td>
      <td><%= item.Due_Date %></td>
      <td><%= item.Current_Status %></td>
    </tr>
    <% }); %>
  </tbody>
</table>

<h3>Previous Review Period OOAL</h3>
<table>
  <thead>
    <tr style="text-transform: uppercase;">
      <th >S. No</th>
      <th >Date Of Initiation</th>
      <th >Record No</th>
      <th >Site/Division</th>
      <th >Department</th>
      <th >Initiator</th>
      <th >Short Description</th>
      <th >Batch No</th>
      <th >Due Date</th>
      <th >Current Status</th>
  </thead>
  <tbody>
    <% product.pooal.forEach((item) => { %>
    <tr>
      <td><%= item.S_No %></td>
      <td><%= item.Date_Of_Initiation %></td>
      <td><%= item.Record_No %></td>
      <td><%= item.Site_Division %></td>
      <td><%= item.Department %></td>
      <td><%= item.Initiator%></td>
      <td><%= item.Short_Description %></td>
      <td><%= item.Batch_No %></td>
      <td><%= item.Due_Date %></td>
      <td><%= item.Current_Status %></td>
    </tr>
    <% }); %>
  </tbody>
</table>
<div class="summary">
  <h3>Summary of OOAL :-</h3>
  &nbsp &nbsp
  <p><%= product.ooalSummary %></p>
</div>

<h2>Review of OOS (Analytical)</h2>
<h3>Current review period OOS</h3>
<table>
  <thead>
    <tr style="text-transform: uppercase;">
      <th >S. No</th>
      <th >Date Of Initiation</th>
      <th >Record No</th>
      <th >Site/Division</th>
      <th >Department</th>
      <th >Initiator</th>
      <th >Short Description</th>
      <th >Batch No</th>
      <th >Due Date</th>
      <th >Current Status</th>
  </thead>
  <tbody>
    <% product.oos.forEach((item) => { %>
    <tr>
      <td><%= item.S_No %></td>
      <td><%= item.Date_Of_Initiation %></td>
      <td><%= item.Record_No %></td>
      <td><%= item.Site_Division %></td>
      <td><%= item.Department %></td>
      <td><%= item.Initiator%></td>
      <td><%= item.Short_Description %></td>
      <td><%= item.Batch_No %></td>
      <td><%= item.Due_Date %></td>
      <td><%= item.Current_Status %></td>
    </tr>
    <% }); %>
  </tbody>
  <h3>Previous review period OOS
  </h3>
  <table>
    <thead>
      <tr style="text-transform: uppercase;">
        <th >S. No</th>
        <th >Date Of Initiation</th>
        <th >Record No</th>
        <th >Site/Division</th>
        <th >Department</th>
        <th >Initiator</th>
        <th >Short Description</th>
        <th >Batch No</th>
        <th >Due Date</th>
        <th >Current Status</th>
    </thead>
    <tbody>
      <% product.poos.forEach((item) => { %>
      <tr>
        <td><%= item.S_No %></td>
        <td><%= item.Date_Of_Initiation %></td>
        <td><%= item.Record_No %></td>
        <td><%= item.Site_Division %></td>
        <td><%= item.Department %></td>
        <td><%= item.Initiator%></td>
        <td><%= item.Short_Description %></td>
        <td><%= item.Batch_No %></td>
        <td><%= item.Due_Date %></td>
        <td><%= item.Current_Status %></td>
      </tr>
      <% }); %>
    </tbody>
  </table>
</table>
<div class="summary">
  <h3>Summary of OOSA :-</h3>
  &nbsp &nbsp
  <p><%= product.oosaSummary %></p>
</div>

<h2>Review of OOT (Analytical)</h2>
<h3>Current Review Period OOT</h3>
<table>
  <thead>
    <tr style="text-transform: uppercase;">
      <th >S. No</th>
      <th >Date Of Initiation</th>
      <th >Record No</th>
      <th >Site/Division</th>
      <th >Department</th>
      <th >Initiator</th>
      <th >Short Description</th>
      <th >Batch No</th>
      <th >Due Date</th>
      <th >Current Status</th>
  </thead>
  <tbody>
    <% product.oot.forEach((item) => { %>
    <tr>
      <td><%= item.S_No %></td>
      <td><%= item.Date_Of_Initiation %></td>
      <td><%= item.Record_No %></td>
      <td><%= item.Site_Division %></td>
      <td><%= item.Department %></td>
      <td><%= item.Initiator%></td>
      <td><%= item.Short_Description %></td>
      <td><%= item.Batch_No %></td>
      <td><%= item.Due_Date %></td>
      <td><%= item.Current_Status %></td>
    </tr>
    <% }); %>
  </tbody>
</table>

<h3>Previous Review Period OOS</h3>
<table>
  <thead>
    <tr style="text-transform: uppercase;">
      <th >S. No</th>
      <th >Date Of Initiation</th>
      <th >Record No</th>
      <th >Site/Division</th>
      <th >Department</th>
      <th >Initiator</th>
      <th >Short Description</th>
      <th >Batch No</th>
      <th >Due Date</th>
      <th >Current Status</th>
  </thead>
  <tbody>
    <% product.poot.forEach((item) => { %>
    <tr>
      <td><%= item.S_No %></td>
      <td><%= item.Date_Of_Initiation %></td>
      <td><%= item.Record_No %></td>
      <td><%= item.Site_Division %></td>
      <td><%= item.Department %></td>
      <td><%= item.Initiator%></td>
      <td><%= item.Short_Description %></td>
      <td><%= item.Batch_No %></td>
      <td><%= item.Due_Date %></td>
      <td><%= item.Current_Status %></td>
    </tr>
    <% }); %>
  </tbody>
</table>
<div class="summary">
  <h3>Summary of OOT :-</h3>
  &nbsp &nbsp
  <p><%= product.ootSummary %></p>
</div>
<h2>Review of Change Controls</h2>
<h3>Current Review Period Change Controls</h3>
<table>
  <thead>
    <tr style="text-transform: uppercase;">
      <th >S. No</th>
      <th >Date Of Initiation</th>
      <th >Record No</th>
      <th >Site/Division</th>
      <th >Department</th>
      <th >Initiator</th>
      <th >Short Description</th>
      <th >Batch No</th>
      <th >Due Date</th>
      <th >Current Status</th>
  </thead>
  <tbody>
    <% product.cc.forEach((item) => { %>
    <tr>
      <td><%= item.S_No %></td>
      <td><%= item.Date_Of_Initiation %></td>
      <td><%= item.Record_No %></td>
      <td><%= item.Site_Division %></td>
      <td><%= item.Department %></td>
      <td><%= item.Initiator%></td>
      <td><%= item.Short_Description %></td>
      <td><%= item.Batch_No %></td>
      <td><%= item.Due_Date %></td>
      <td><%= item.Current_Status %></td>
    </tr>
    <% }); %>
  </tbody>
</table>

<h3>Previous Review Period Change Controls </h3>
<table>
  <thead>
    <tr style="text-transform: uppercase;">
      <th >S. No</th>
      <th >Date Of Initiation</th>
      <th >Record No</th>
      <th >Site/Division</th>
      <th >Department</th>
      <th >Initiator</th>
      <th >Short Description</th>
      <th >Batch No</th>
      <th >Due Date</th>
      <th >Current Status</th>
  </thead>
  <tbody>
    <% product.pcc.forEach((item) => { %>
    <tr>
      <td><%= item.S_No %></td>
      <td><%= item.Date_Of_Initiation %></td>
      <td><%= item.Record_No %></td>
      <td><%= item.Site_Division %></td>
      <td><%= item.Department %></td>
      <td><%= item.Initiator%></td>
      <td><%= item.Short_Description %></td>
      <td><%= item.Batch_No %></td>
      <td><%= item.Due_Date %></td>
      <td><%= item.Current_Status %></td>
    </tr>
    <% }); %>
  </tbody>
</table>
<div class="summary">
  <h3>Summary of Change Control :-</h3>
  &nbsp &nbsp
  <p><%= product.ccSummary %></p>
</div>

<h2>Review of Lab Incident</h2>
<h3>Current Review Lab Incident</h3>
<table>
  <thead>
    <tr style="text-transform: uppercase;">
      <th >S. No</th>
      <th >Date Of Initiation</th>
      <th >Record No</th>
      <th >Site/Division</th>
      <th >Department</th>
      <th >Initiator</th>
      <th >Short Description</th>
      <th >Batch No</th>
      <th >Due Date</th>
      <th >Current Status</th>
  </thead>
  <tbody>
    <% product.li.forEach((item) => { %>
    <tr>
      <td><%= item.S_No %></td>
      <td><%= item.Date_Of_Initiation %></td>
      <td><%= item.Record_No %></td>
      <td><%= item.Site_Division %></td>
      <td><%= item.Department %></td>
      <td><%= item.Initiator%></td>
      <td><%= item.Short_Description %></td>
      <td><%= item.Batch_No %></td>
      <td><%= item.Due_Date %></td>
      <td><%= item.Current_Status %></td>
    </tr>
    <% }); %>
  </tbody>
</table>

<h3>Previous Review Lab Incident</h3>
<table>
  <thead>
    <tr style="text-transform: uppercase;">
      <th >S. No</th>
      <th >Date Of Initiation</th>
      <th >Record No</th>
      <th >Site/Division</th>
      <th >Department</th>
      <th >Initiator</th>
      <th >Short Description</th>
      <th >Batch No</th>
      <th >Due Date</th>
      <th >Current Status</th>
  </thead>
  <tbody>
    <% product.pli.forEach((item) => { %>
    <tr>
      <td><%= item.S_No %></td>
      <td><%= item.Date_Of_Initiation %></td>
      <td><%= item.Record_No %></td>
      <td><%= item.Site_Division %></td>
      <td><%= item.Department %></td>
      <td><%= item.Initiator%></td>
      <td><%= item.Short_Description %></td>
      <td><%= item.Batch_No %></td>
      <td><%= item.Due_Date %></td>
      <td><%= item.Current_Status %></td>
    </tr>
    <% }); %>
  </tbody>
</table>
<div class="summary">
  <h3>Summary of Lab Incident :-</h3>
  &nbsp &nbsp
  <p><%= product.liSummary %></p>
</div>

<h2>Review of Market Complaints</h2>
<h3>Current Review Period Complaints</h3>
<table>
  <thead>
    <tr style="text-transform: uppercase;">
      <th >S. No</th>
      <th >Date Of Initiation</th>
      <th >Record No</th>
      <th >Site/Division</th>
      <th >Department</th>
      <th >Initiator</th>
      <th >Short Description</th>
      <th >Batch No</th>
      <th >Due Date</th>
      <th >Current Status</th>
  </thead>
  <tbody>
    <% product.rpc.forEach((item) => { %>
    <tr>
      <td><%= item.S_No %></td>
      <td><%= item.Date_Of_Initiation %></td>
      <td><%= item.Record_No %></td>
      <td><%= item.Site_Division %></td>
      <td><%= item.Department %></td>
      <td><%= item.Initiator%></td>
      <td><%= item.Short_Description %></td>
      <td><%= item.Batch_No %></td>
      <td><%= item.Due_Date %></td>
      <td><%= item.Current_Status %></td>
    </tr>
    <% }); %>
  </tbody>
</table>

<h3>Previous Review Period Complaints</h3>
<table>
  <thead>
    <tr style="text-transform: uppercase;">
      <th >S. No</th>
      <th >Date Of Initiation</th>
      <th >Record No</th>
      <th >Site/Division</th>
      <th >Department</th>
      <th >Initiator</th>
      <th >Short Description</th>
      <th >Batch No</th>
      <th >Due Date</th>
      <th >Current Status</th>
  </thead>
  <tbody>
    <% product.prpc.forEach((item) => { %>
    <tr>
      <td><%= item.S_No %></td>
      <td><%= item.Date_Of_Initiation %></td>
      <td><%= item.Record_No %></td>
      <td><%= item.Site_Division %></td>
      <td><%= item.Department %></td>
      <td><%= item.Initiator%></td>
      <td><%= item.Short_Description %></td>
      <td><%= item.Batch_No %></td>
      <td><%= item.Due_Date %></td>
      <td><%= item.Current_Status %></td>
    </tr>
    <% }); %>
  </tbody>
</table>
<div class="summary">
  <h3>Summary of Market Complaints :-</h3>
  &nbsp &nbsp
  <p><%= product.rpcSummary %></p>
</div>


<h2>Quality Related Notification</h2>
<h3>Current Review Period Quality Related Notification</h3>

<table>
  <thead>
    <tr style="text-transform: uppercase;">
      <th rowspan="2">Sl. No.</th>
      <th rowspan="2">Batch No.</th>
      <th class="text-center" colspan="4">Quality Related Notification</th>
      <th class="text-center" colspan="3">CAPA</th>
    </tr>
    <tr>
      <th>No.</th>
      <th>Description</th>
      <th>Impact</th>
      <th>Status</th>
    
      <th>Description No.</th>
      <th>Status</th>
      <th>EC</th>
    </tr>
  </thead>
  <tbody>
    <% product.qrNoti.forEach((item) => { %>
    <tr>
      <td><%= item.Sl_No %></td>
      <td><%= item.Batch_No %></td>
      <td><%= item.Quality_Related_Notification.No %></td>
      <td><%= item.Quality_Related_Notification.description %></td>
      <td><%= item.Quality_Related_Notification.Impact	 %></td>
      <td><%= item.Quality_Related_Notification.Status %></td>
      <td><%= item.CAPA.description_No %></td>
      <td><%= item.CAPA.Status %></td>
      <td><%= item.CAPA.EC %></td>
    </tr>
    <% }); %>
  </tbody>
  </table>

  <div class="summary">
    <h3>Summary of previous Review Period Quality Related Notification :-</h3>
    &nbsp &nbsp
    <p><%= product.prerSummary %></p>
  </div>

  <div class="summary">
    <h3>Summary of Review of Product Recalls :-</h3>
    &nbsp &nbsp
    <p><%= product.revrSummary %></p>
  </div>
  <div class="summary">
    <h3>Summary of Review of Returned Products :-</h3>
    &nbsp &nbsp
    <p><%= product.revreSummary %></p>
  </div>
  <div class="summary">
    <h3>Summary of Review of Salvaged Drugs :-</h3>
    &nbsp &nbsp
    <p><%= product.revsalSummary %></p>
  </div>
  <div class="summary">
    <h3>Summary of Review of previous PQR recommendations :-</h3>
    &nbsp &nbsp
    <p><%= product.revPqrSummary %></p>
  </div>
  <div class="summary">
    <h3>Summary of Review of Quality Agreements :-</h3>
    &nbsp &nbsp
    <p><%= product.revagrSummary %></p>
  </div>
  <div class="summary">
    <h3>Summary of Review of Manufacturing Authorizations :-</h3>
    &nbsp &nbsp
    <p><%= product.revmSummary %></p>
  </div>
  <div class="summary">
    <h3>Summary of Review of Open Validations :-</h3>
    &nbsp &nbsp
    <p><%= product.revovSummary %></p>
  </div>

//Tab 7
<h1>Regulatory Review</h1>
<h3>Dossier variation details</h3>
<table>
  <thead>
    <tr style="text-transform: uppercase;">
      <th>Sl. No</th>
      <th>Agency</th>
      <th>Notification No	</th>
      <th>Notification Type	</th>
      <th>Description</th>
  </thead>
  <tbody>
    <% product.dosVar.forEach((item) => { %>
    <tr>
      <td><%= item.Sl_No %></td>
      <td><%= item.Agency	 %></td>
      <td><%= item.Notification_No %></td>
      <td><%= item.Notification_Type %></td>
      <td><%= item.description %></td>
    </tr>
    <% }); %>
  </tbody>
</table>
<div class="summary">
  <h3>Summary of Dossier variation details  :-</h3>
  &nbsp &nbsp
  <p><%= product.dosVarSummary %></p>
</div>

<h3>New marketing authorisation</h3>
<table>
  <thead>
    <tr style="text-transform: uppercase;">
      <th>Sl. No</th>
      <th>Country Name</th>
      <th>Description Of Packing </th>
      <th>Date of Application	</th>
      <th>Status of Application	</th>
      <th>Date of Authorization	</th>
      <th>remarks</th>
  </thead>
  <tbody>
    <% product.newm.forEach((item) => { %>
    <tr>
      <td><%= item.Sl_No %></td>
      <td><%= item.Country_Name	 %></td>
      <td><%= item.description_Of_Packing %></td>
      <td><%= item.Date_of_Application %></td>
      <td><%= item.Status_of_Application %></td>
      <td><%= item.Date_of_Authorization	 %></td>
      <td><%= item.remarks %></td>
    </tr>
    <% }); %>
  </tbody>
</table>
<div class="summary">
  <h3>Summary of New marketing authorisation:-</h3>
  &nbsp &nbsp
  <p><%= product.newmSummary %></p>
</div>

//Tab8
<h1>Recommendations</h1>
<h3>Recommendations Summary</h3>
<div class="summary">
  <h3>Summary of Recommendations :-</h3>
  &nbsp &nbsp
  <p><%= product.recSummary %></p>
</div>


<h1>CAPA</h1>


<h1>Discussion, Evaluation And Conclusion</h1>
<h3>Discussion Evaluation and Conclusion</h3>
<div class="summary">
  <h3>Summary of Discussion, Evaluation And Conclusion  :-</h3>
  &nbsp &nbsp
  <p><%= product.decSummary %></p>
</div>


<h1>List Of Annexures/Attachments</h1>

<div class="summary">
  <h3>Annexure 1 :-</h3>
  &nbsp &nbsp
  <p><%= product.A1Summary %></p>
</div>
<div class="summary">
  <h3>Annexure 2 :-</h3>
  &nbsp &nbsp
  <p><%= product.A2Summary %></p>
</div>
<div class="summary">
  <h3>Annexure 3 :-</h3>
  &nbsp &nbsp
  <p><%= product.A3Summary %></p>
</div>
<div class="summary">
  <h3>Annexure 4 :-</h3>
  &nbsp &nbsp
  <p><%= product.A4Summary %></p>
</div>
<div class="summary">
  <h3>Annexure 5 :-</h3>
  &nbsp &nbsp
  <p><%= product.A5Summary %></p>
</div>
<div class="summary">
  <h3>Annexure 6 :-</h3>
  &nbsp &nbsp
  <p><%= product.A6Summary %></p>
</div>
<div class="summary">
  <h3>Annexure 7 :-</h3>
  &nbsp &nbsp
  <p><%= product.A7Summary %></p>
</div>
<div class="summary">
  <h3>Annexure 8 :-</h3>
  &nbsp &nbsp
  <p><%= product.A8Summary %></p>
</div>
<div class="summary">
  <h3>Annexure 9 :-</h3>
  &nbsp &nbsp
  <p><%= product.A9Summary %></p>
</div>
<div class="summary">
  <h3>Annexure 10 :-</h3>
  &nbsp &nbsp
  <p><%= product.A10Summary %></p>
</div>
<div class="summary">
  <h3>Annexure 11 :-</h3>
  &nbsp &nbsp
  <p><%= product.A11Summary %></p>
</div>
<div class="summary">
  <h3>Annexure 12 :-</h3>
  &nbsp &nbsp
  <p><%= product.A12Summary %></p>
</div>
<div class="summary">
  <h3>Annexure 13 :-</h3>
  &nbsp &nbsp
  <p><%= product.A13Summary %></p>
</div>
<div class="summary">
  <h3>Annexure 14 :-</h3>
  &nbsp &nbsp
  <p><%= product.A14Summary %></p>
</div>
<div class="summary">
  <h3>Annexure 15 :-</h3>
  &nbsp &nbsp
  <p><%= product.A15Summary %></p>
</div>
<div class="summary">
  <h3>Annexure 16 :-</h3>
  &nbsp &nbsp
  <p><%= product.A16Summary %></p>
</div>
<div class="summary">
  <h3>Annexure 17 :-</h3>
  &nbsp &nbsp
  <p><%= product.A17Summary %></p>
</div>
<div class="summary">
  <h3>Annexure 18 :-</h3>
  &nbsp &nbsp
  <p><%= product.A18Summary %></p>
</div>
<div class="summary">
  <h3>Annexure 19 :-</h3>
  &nbsp &nbsp
  <p><%= product.A19Summary %></p>
</div>
<div class="summary">
  <h3>Annexure 20 :-</h3>
  &nbsp &nbsp
  <p><%= product.A20Summary %></p>
</div>

  </body>
</html>
