<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Product Quality Review Report</title>
    <style>
      body {
        font-family: Arial, sans-serif;
        margin: 0;
      }
      table {
        width: 100%;
        border-collapse: collapse;
        margin-bottom: 20px;
        border-right: 2px solid black;
      }
      th,
      td {
        border: 2px solid black;
        padding: 8px;
        text-align: left;
      }
      th {
        background-color: #f2f2f2;
      }
      .highlight {
        background-color: yellow;
      }
      .text-center {
        text-align: center;
      }
      .header {
        font-family: monospace;
      }
      .summary {
        display: flex;
        flex-direction: column;
        gap: 0;
      }
      .summary h3{
       margin: 0;
      }
      .summary p{
       /* margin: 0; */
      }
    </style>
  </head>
  <body>
    <!-- Tab 1 -->
    <h1>General Information</h1>
    <table>
      <tr>
        <td>PQR NO.</td>
        <td><%= product.pqrNo %></td>
      </tr>
      <tr>
        <td>PRODUCT NAME</td>
        <td><%= product.productName %></td>
      </tr>
      <tr>
        <td>GENERIC NAME</td>
        <td><%= product.genericName %></td>
      </tr>
      <tr>
        <td>PRODUCT CODE</td>
        <td><%= product.productCode %></td>
      </tr>
      <tr>
        <td>REVIEW PERIOD</td>
        <td><%= product.reviewPeriod %></td>
      </tr>
      <tr>
        <td>MFG. LIC. No.</td>
        <td><%= product.mfgLicNo %></td>
      </tr>
    </table>

    <h3>Manufacturing Site Address</h3>
    <table>
      <tr>
        <th>Product Name	</th>
        <th>SFGCode</th>
        <th>FG Code</th>
      </tr>
      <% product.manufacturingStage.map((obj) => { %>
      <tr>
        <td><%= obj.productName %></td>
        <td><%= obj.sFGCode %></td>
        <td><%= obj.fGCode %></td>
      </tr>
      <% }); %>
    </table>

      <div class="summary">
      <h3>Manufacturing Site Address Summary :-</h3>
      <!-- &nbsp &nbsp -->
      <p><%= product.msaSummary %></p>
    </div>

      <h3>Manufacturing Site Address 2</h3>
    <table>
      <tr>
        <th>Product Name	</th>
        <th>Batch Code</th>
        <th>SFGCode</th>
        <th>remarks</th>
      </tr>
      <% product.manufacturingSAPS.map((obj) => { %>
      <tr>
        <td><%= obj.productName %></td>
        <td><%= obj.batchCode %></td>
        <td><%= obj.sFGCode %></td>
        <td><%= obj.remarks %></td>
      </tr>
      <% }); %>
    </table>

      <div class="summary">
      <h3>Manufacturing Site Address 2  Summary:-</h3>
      &nbsp &nbsp
      <p><%= product.msa2Summary %></p>
    </div>


    <!-- Tab 2 -->
    <h1>Warehouse Review</h1>
    <h2>Review of Rejected Raw Materials and Packaging Materials</h1>

    <h3>Raw Materials Rejection Grid</h3>
    <table>
      <thead>
        <tr>
          <th>SI No</th>
          <th>Material Code</th>
          <th>Material Name</th>
          <th>Lot No/AR No</th>
          <th>Reason For Rejection</th>
          <th>Description</th>
        </tr>
      </thead>
      <tbody>
        <% product.rawMRS.forEach((item,i) => { %>
        <tr>
          <td><%= item.slNo || i+1 %></td>    
          <td><%= item.materialCode %></td>
          <td><%= item.materialName %></td>
          <td><%= item.ARNo %></td>
          <td><%= item.reasonOfRejection %></td>
          <td><%= item.description %></td>
        </tr>
        <% }); %>
      </tbody>
    </table>

    <div class="summary">
      <h3>Raw Materials Rejection Summary :-</h3>
      &nbsp &nbsp
      <p><%= product.rawMRSSummary %></p>
    </div>

    <h3>Packing Materials Rejection Grid</h3>
    <table>
      <thead>
        <tr>
          <th>SI No</th>
          <th>Material Code</th>
          <th>Material Name</th>
          <th>Lot No/AR No</th>
          <th>Reason For Rejection</th>
          <th>Description</th>
        </tr>
      </thead>
      <tbody>
        <% product.packingMRS.forEach((item,i) => { %>
        <tr>
          <td><%= item.SI_No || i+1 %></td>
          <td><%= item.materialCode %></td>
          <td><%= item.materialName %></td>
          <td><%= item.ARNo %></td>
          <td><%= item.reasonForRepacking %></td>
          <td><%= item.description %></td>
        </tr>
        <% }); %>
      </tbody>
    </table>

    <div class="summary">
      <h3>Packaging Materials Rejection Summary :-</h3>
      &nbsp &nbsp
      <p><%= product.packingMRSummary %></p>
    </div>

    <h2>Review of Expired Raw Materials and Packaging Materials</h2>
    <h3>Expired Raw Materials Details</h3>
    <table>
      <thead>
        <tr>
          <th>SI No</th>
          <th>Material Code</th>
          <th>Material Name</th>
          <th>Lot No/AR No</th>
          <th>Expiry Date</th>
        </tr>
      </thead>
      <tbody>
        <% product.expiredRMD.forEach((item,i) => { %>
        <tr>
          <td><%= item.SI_No || i+1 %></td>
          <td><%= item.materialCode %></td>
          <td><%= item.materialName %></td>
          <td><%= item.ARNo %></td>
          <td><%= item.expiryDate %></td>
        </tr>
        <% }); %>
      </tbody>  
    </table>

    <div class="summary">
      <h3>Expired Raw Materials Summary :-</h3>
      &nbsp &nbsp
      <p><%= product.expiredRMDSummary %></p>
    </div>

    <h3>Expired Packaging Materials Details</h3>
    <table>
      <thead>
        <tr>
          <th>SI No</th>
          <th>Material Code</th>
          <th>Material Name</th>
          <th>Lot No/AR No</th>
          <th>Expiry Date</th>
        </tr>
      </thead>
      <tbody>
        <% product.expiredPMD.forEach((item,i) => { %>
        <tr>
          <td><%= item.SI_No || i+1 %></td>
          <td><%= item.materialCode %></td>
          <td><%= item.materialName %></td>
          <td><%= item.ARNo %></td>
          <td><%= item.expiryDate %></td>
        </tr>
        <% }); %>
      </tbody>
    </table>

    <div class="summary">
      <h3>Expired Packaging Materials Summary :-</h3>
      &nbsp &nbsp
      <p><%= product.expiredPMDSummary %></p>
    </div>

    <h2>Review of Approved Supplier List:</h2>
    <table>
      <thead>
        <tr>
          <th>SI No</th>
          <th>Material Code</th>
          <th>Material Name</th>
          <th>Manufacturer / Supplier / Vendor</th>
          <th>Facility</th>
        </tr>
      </thead>
      <tbody>
        <% product.reviewOfASL.forEach((item,i) => { %>
        <tr>
          <td><%= item.SI_No || i+1 %></td>
          <td><%= item.materialCode %></td>
          <td><%= item.materialName %></td>
          <td><%= item.manufacturer %></td>
          <td><%= item.facility %></td>
        </tr>
        <% }); %>
      </tbody>
    </table>

    <div class="summary">
      <h3>Summary of Review of Approved Supplier List :-</h3>
      &nbsp &nbsp
      <p><%= product.reviewOfASLSummary %></p>
    </div>

    <h2>Vendor Qualification Details of Raw Material Excipients</h2>
    <table>
      <thead>
        <tr>
          <th>Material Name</th>
          <th>Material Code</th>
          <th>Manufacturer Name</th>
          <th>Qualification Status</th>
          <th>remarks</th>
        </tr>
      </thead>
      <tbody>
        <% product.vendorQDORME.forEach((item,i) => { %>
        <tr>
          <td><%= item.materialName %></td>
          <td><%= item.materialCode %></td>
          <td><%= item.manufacturerName %></td>
          <td><%= item.qualificationStatus %></td>
          <td><%= item.remarks %></td>
        </tr>
        <% }); %>
      </tbody>
    </table>

    <div class="summary">
      <h3>Summary of Vendor Qualification Details of Raw Material Excipients :-</h3>
      &nbsp &nbsp
      <p><%= product.vendorQDORMESummary %></p>
    </div>

    <h2>Vendor Qualification Details of Primary Packing Materials</h2>
    <table>
      <thead>
        <tr>
          <th>Material Name</th>
          <th>Material Code</th>
          <th>Manufacturer Name</th>
          <th>Qualification Status</th>
        </tr>
      </thead>
      <tbody>
        <% product.vendorQDOPPM.forEach((item,i) => { %>
        <tr>
          <td><%= item.materialName %></td>
          <td><%= item.materialCode %></td>
          <td><%= item.manufacturerName %></td>
          <td><%= item.qualificationStatus %></td>
        </tr>
        <% }); %>
      </tbody>
    </table>

    <div class="summary">
      <h3>Summary of Vendor Qualification Details of Primary Packing Materials :-</h3>
      &nbsp &nbsp
      <p><%= product.vendorQDOPPMSummary %></p>
    </div>

    <h2>Vendor Qualification Details of Process Gases</h2>
    <table>
      <thead>
        <tr>
          <th>Gas Name</th>
          <th>Gas Code</th>
          <th>Manufacturer Name</th>
          <th>Qualification Status</th>
        </tr>
      </thead>
      <tbody>
        <% product.vendorQDPOG.forEach((item,i) => { %>
        <tr>
          <td><%= item.gasName %></td>
          <td><%= item.gasCode %></td>
          <td><%= item.manufacturerName %></td>
          <td><%= item.qualificationStatus %></td>
        </tr>
        <% }); %>
      </tbody>
    </table>

    <div class="summary">
      <h3>Summary of Vendor Qualification Details of Process Gases :-</h3>
      &nbsp &nbsp
      <p><%= product.vendorQDPOGSummary %></p>
    </div>

    <!-- Tab 3 -->
     <h1>Manufacturing Review</h1>
      <table>
        <tr>
          <td>PRODUCT DESCRIPTION</td>
          <td><%= product.productInfo %></td>
        </tr>
        <tr>
          <td>Process Flow</td>
          <td><%= product.processFlow %></td>
        </tr>
      </table>

    <h2>Review of all Batches Manufactured</h2>

      <table>
        <tr>
          <td style="text-transform: uppercase;">Total No. of batches manufactured during the current review period</td>
          <td><%= product.totalBatchesManu %></td>
        </tr>
        <tr>
          <td style="text-transform: uppercase;">Total No. of batches Approved & Released</td>
          <td><%= product.totalBatchesApproved %></td>
        </tr>
        <tr>
          <td style="text-transform: uppercase;">Total No. of Process Validation Batches</td>
          <td><%= product.totalNoValidationprocessedBatches %></td>
        </tr>
        <tr>
          <td style="text-transform: uppercase;">Total No. of Reprocessed Batches</td>
          <td><%= product.totalNoReprocessedBatches %></td>
        </tr>

      </table>

<!-- //Table Summary -->
    <div class="summary">
      <h3>  Process Validation Batches Details:-</h3>
      &nbsp &nbsp
      <p><%= product.processValidationBatchesDetails %></p>
    </div>
    <div class="summary">
      <h3>  Reprocessing Details	:-</h3>
      &nbsp &nbsp
      <p><%= product.reprocessingDetails %></p>
    </div>
    <div class="summary">
      <h3>  Microbial Excursion Details		:-</h3>
      &nbsp &nbsp
      <p><%= product.microbialExcursionDetails %></p>
    </div>


    <h2>Code to code transfer details</h2>
    <table>
      <thead>
        <tr style="text-transform: uppercase;">
          <th>SL NO</th>
          <th>Batch Number</th>
          <th>Existing Code</th>
          <th>Existing Market</th>
          <th>Proposed Code</th>
          <th>Proposed Market</th>
          <th>Transfter Quantity</th>
          <th>Ref No</th>
        </tr>
      </thead>
      <tbody>
        <% product.codeTCTD.forEach((item,i) => { %>
        <tr>
          <td><%= item.Sl_No || i+1 %></td>
          <td><%= item.batchNo %></td>
          <td><%= item.existingCode %></td>
          <td><%= item.existingMarket %></td>
          <td><%= item.proposedCode %></td>
          <td><%= item.proposedMarket %></td>
          <td><%= item.transferQuality %></td>
          <td><%= item.refNo %></td>
        </tr>
        <% }); %>
      </tbody>
    </table>

    <div class="summary">
      <h3>Summary of Code to Code Transfer Details :-</h3>
      &nbsp &nbsp
      <p><%= product.codeTCTDSummary %></p>
    </div>

    <div class="summary">
      <h3>Review of Manufacturing Process, Packing Process and relevant Validation Status :-</h3>
      &nbsp &nbsp
      <p><%= product.reviewOFManuProcessSummary %></p>
    </div>

    <h2>Review of Reprocessing/Repacking/Reworking along with CAPA and Effectiveness Check Verification (if any)</h2>
    <div class="summary">
      <h3>Batch reprocessing/reworking process Details :-</h3>
      &nbsp &nbsp
      <p><%= product.brpDetails %></p>
    </div>

    <div class="summary">
      <h3>Batch Repacking Details :-</h3>
      &nbsp &nbsp
      <p><%= product.batchRepackingDetails %></p>
    </div>

    <h3>Review of Reprocessing/Repacking/Reworking Grid</h3>
    <table>
      <thead>
        <tr style="text-transform: uppercase;">
          <th>SL NO</th>
          <th> Packing Batch Number</th>
          <th>Manufacturin Batch Number</th>
          <th>Repacking Issued Number</th>
          <th>Repacking For</th>
          <th>QMS</th>
          <th>Reason For Repacking</th>
        </tr>
      </thead>
      <tbody>
        <% product.reviewORCEC.forEach((item,i) => { %>
        <tr>
          <td><%= item.Sl_No || i+1 %></td>
          <td><%= item.packingBatchNumber %></td>
          <td><%= item.manufacturingBatchNumber %></td>
          <td><%= item.repackingIssuedNumber %></td>
          <td><%= item.repackingFor %></td>
          <td><%= item.qMS %></td>
          <td><%= item.reasonForRepacking %></td>
        </tr>
        <% }); %>
      </tbody>
    </table>

    <div class="summary">
      <h3>Review of Reprocessing/Repacking/Reworking Summary :-</h3>
      &nbsp &nbsp
      <p><%= product.reviewORCECSummary %></p>
    </div>


    <h3>Capa Details</h3>
    <table>
      <thead>
        <tr style="text-transform: uppercase;">
          <th>AR No</th>
          <th>CAPAType</th>
          <th>Description of Issue</th>
          <th>Root Cause</th>
          <th>CAPA Verification</th>
          <th>File Attachment</th>
          <th>Remarks</th>
        </tr>
      </thead>
      <tbody>
        <% product.capaDetails.forEach((item,i) => { %>
        <tr>
          <td><%= item.ARNo %></td>
          <td><%= item.capaType %></td>
          <td><%= item.descriptionOfIssue %></td>
          <td><%= item.rootCause %></td>
          <td><%= item.capaVerification %></td>
          <td><%= item.fileAttachment %></td>
          <td><%= item.remarks %></td>
        </tr>
        <% }); %>
      </tbody>
    </table>

    <div class="summary">
      <h3>Summary of CAPA Details :-</h3>
      &nbsp &nbsp
      <p><%= product.capaDetailsSummary %></p>
    </div>

    <h3>Deviation Details</h3>
    <table>
      <thead>
        <tr style="text-transform: uppercase;">
          <th>AR No</th>
          <th>Deviation Related To	</th>
          <th>Description</th>
          <th>Root Cause</th>
          <th>Deviation Ovserved On	</th>
          <th>Deviation Ovserved By	</th>
          <th>Classification of Deviation	</th>
          <th>file Attachment	</th>
          <th>remarks</th>
          <th>Status  </th>

        </tr>
      </thead>
      <tbody>
        <% product.deviationDetails.forEach((item,i) => { %>
        <tr>
          <td><%= item.ARNo %></td>
          <td><%= item.deviationRelatedTo %></td>
          <td><%= item.description %></td>
          <td><%= item.rootCause %></td>
          <td><%= item.deviationObservedOn %></td>
          <td><%= item.deviationObservedBy %></td>
          <td><%= item.classificationOfDeviation %></td>
          <td><%= item.fileAttachment %></td>
          <td><%= item.remarks %></td>
          <td><%= item.status %></td>
        </tr>
        <% }); %>
      </tbody>
    </table>

    <div class="summary">
      <h3>Summary of Deviation Details :-</h3>
      &nbsp &nbsp
      <p><%= product.deviationDetailsSummary %></p>
    </div>

    <h2>Review of all Batch Failures/Rejections along with CAPA and Effectiveness Check Verification (if any):</h2>

    <div class="summary">
      <h3>Batch Failures/Rejections Details :-</h3>
      &nbsp &nbsp
      <p><%= product.batchFailuresRejectionsSummary %></p>
    </div>

    <h3>OOS Details</h3>
    <table>
      <thead>
        <tr style="text-transform: uppercase;">
          <th>AR No</th>
          <th>Test Name Of OOS</th>
          <th>Results Obtained</th>
          <th>Specification Limit</th>
          <th>Details of Obvious error</th>
          <th>File Attachment</th>
        </tr>
      </thead>
      <tbody>
        <% product.oosDetails.forEach((item,i) => { %>
        <tr>
          <td><%= item.ARNo %></td>
            <td><%= item.testNameOfOos %></td>
          <td><%= item.resultsObtained %></td>
          <td><%= item.specificationLimit %></td>
          <td><%= item.detailsOfObviousError %></td>
          <td><%= item.fileAttachment %></td>
        </tr>
        <% }); %>
      </tbody>
    </table>

    <div class="summary">
      <h3>Summary of OOS Details :-</h3>
      &nbsp &nbsp
      <p><%= product.oosDetailsSummary %></p> 
    </div>

    <h3>OOT Results</h3>
    <table>
      <thead
        <tr style="text-transform: uppercase;">
          <th>AR No</th>
          <th>Test Name Of OOT</th>
          <th>Results Obtained</th>
          <th>Initial Interval Details</th>
          <th>Previous Interval Details</th>
          <th>% Difference Of Details</th>
          <th>Trend Alert</th>
        </tr>
      </thead>
      <tbody>
        <% product.ootResults.forEach((item,i) => { %>
        <tr>
          <td><%= item.ARNo %></td>
          <td><%= item.testNameOfOot %></td>
          <td><%= item.resultsObtained %></td>
          <td><%= item.initialIntervalDetails %></td>
          <td><%= item.previousIntervalDetails %></td>
          <td><%= item.diffrenceOfResult %></td>
          <td><%= item.trendLimit %></td>
        </tr>
        <% }); %>
      </tbody>
    </table>

    <div class="summary">
      <h3>Summary of OOT Details :-</h3>
      &nbsp &nbsp
      <p><%= product.ootResultsSummary %></p>
    </div>

    <h3>OOA Results</h3>
    <table>
      <thead>
        <tr style="text-transform: uppercase;">
          <th>AR No</th>
          <th>Test Name Of Alert</th>
          <th>Results Obtained</th>
          <th>Initial Interval Details</th>
          <th>Previous Interval Details</th>
          <th>% Difference Of Details</th>
          <th>Trend Alert</th>
        </tr>
      </thead>
      <tbody>
        <% product.ooaResults.forEach((item,i) => { %>
        <tr>
          <td><%= item.ARNo %></td>
          <td><%= item.testNameOfAlert %></td>
          <td><%= item.resultsObtained %></td>
          <td><%= item.initialIntervalDetails %></td>
          <td><%= item.previousIntervalDetails %></td>  
          <td><%= item.diffrenceOfResult %></td>
          <td><%= item.trendLimit %></td>
        </tr>
        <% }); %>
      </tbody>
    </table>

    <div class="summary">
      <h3>Summary of OOA Details :-</h3> 
      &nbsp &nbsp
      <p><%= product.ooaResultsSummary %></p>
    </div>

    <h3>OOL Results</h3>
    <table>
      <thead>
        <tr style="text-transform: uppercase;">
          <th>AR No</th>
          <th>Test Name Of OOL</th>
          <th>Results Obtained</th>
          <th>Initial Interval Details</th>
          <th>Previous Interval Details</th>
          <th>% Difference Of Details</th>
          <th>Trend Alert</th>
        </tr>
      </thead>
      <tbody>
        <% product.oolResults.forEach((item,i) => { %>
        <tr>
          <td><%= item.ARNo %></td>
          <td><%= item.testNameOfOot %></td>
          <td><%= item.resultsObtained %></td>
          <td><%= item.initialIntervalDetails %></td>
          <td><%= item.previousIntervalDetails %></td>
          <td><%= item.diffrenceOfResult %></td>
          <td><%= item.trendLimit %></td>
        </tr>
        <% }); %>
      </tbody>
    </table>

    <div class="summary">
      <h3>Summary of OOL Details :-</h3>
      &nbsp &nbsp
      <p><%= product.oolResultsSummary %></p>
    </div>

    <h2>Review of Product Quality (Critical Process Parameters)</h2>
    <h3>Unit Operation 1</h3>
    <table>
      <thead>
        <tr style="text-transform: uppercase;">
          <th rowspan="2">Critical Process Parameter</th>
          <th rowspan="2">codes</th>
          <th rowspan="2">Acceptance criteria</th>
          <th class="text-center" colspan="2">Results </th>
          <th rowspan="2">Complies / Does not complies</th>
        </tr>
        <tr>
          <th>Minimum</th>
          <th>Maximum</th>
        </tr>
      </thead>
      <tbody>
        <% product.unitOperation1.forEach((item,i) => { %>
        <tr>
          <td><%= item.criticalProcessParameter %></td>
          <td><%= item.codes %></td>
          <td><%= item.acceptanceCriteria %></td>
          <td><%= item.results.minimum  %></td>
          <td><%= item.results.maximum %></td>
          <td><%= item.compliesNotComplies %></td>
        </tr>
        <% }); %>
      </tbody>
    </table>

        <h3>Unit Operation 2</h3>
    <table>
      <thead>
        <tr style="text-transform: uppercase;">
          <th rowspan="2">Critical Process Parameter</th>
          <th rowspan="2">codes</th>
          <th rowspan="2">Acceptance criteria</th>
          <th class="text-center" colspan="2">Results </th>
          <th rowspan="2">Complies / Does not complies</th>
        </tr>
        <tr>
          <th>Minimum</th>
          <th>Maximum</th>
        </tr>
      </thead>
      <tbody>
        <% product.unitOperation2.forEach((item,i) => { %>
        <tr>
          <td><%= item.criticalProcessParameter %></td>
          <td><%= item.codes %></td>
          <td><%= item.acceptanceCriteria %></td>
          <td><%= item.results.minimum  %></td>
          <td><%= item.results.maximum %></td>
          <td><%= item.compliesNotComplies %></td>
        </tr>
        <% }); %>
      </tbody>
    </table>

    <h3>Unit Operation 3</h3>
    <table>
      <thead>
        <tr style="text-transform: uppercase;">
          <th rowspan="2">Critical Process Parameter</th>
          <th rowspan="2">codes</th>
          <th rowspan="2">Acceptance criteria</th>
          <th class="text-center" colspan="2">Results </th>
          <th rowspan="2">Complies / Does not complies</th>
        </tr>
        <tr>
          <th>Minimum</th>
          <th>Maximum</th>
        </tr>
      </thead>
      <tbody>
        <% product.unitOperation3.forEach((item,i) => { %>
        <tr>
          <td><%= item.criticalProcessParameter %></td>
          <td><%= item.codes %></td>
          <td><%= item.acceptanceCriteria %></td>
          <td><%= item.results.minimum  %></td>
          <td><%= item.results.maximum %></td>
          <td><%= item.compliesNotComplies %></td>
        </tr>
        <% }); %>
      </tbody>
    </table>

    <h3>Unit Operation 4</h3>
    <table>
      <thead>
        <tr style="text-transform: uppercase;">
          <th rowspan="2">Critical Process Parameter</th>
          <th rowspan="2">codes</th>
          <th rowspan="2">Acceptance criteria</th>
          <th class="text-center" colspan="2">Results </th>
          <th rowspan="2">Complies / Does not complies</th>
        </tr>
        <tr>
          <th>Minimum</th>
          <th>Maximum</th>
        </tr>
      </thead>
      <tbody>
        <% product.unitOperation4.forEach((item,i) => { %>
        <tr>
          <td><%= item.criticalProcessParameter %></td>
          <td><%= item.codes %></td>
          <td><%= item.acceptanceCriteria %></td>
          <td><%= item.results.minimum  %></td>
          <td><%= item.results.maximum %></td>
          <td><%= item.compliesNotComplies %></td>
        </tr>
        <% }); %>
      </tbody>
    </table>

    <h3>Unit Operation 5</h3>
    <table>
      <thead>
        <tr style="text-transform: uppercase;">
          <th rowspan="2">Critical Process Parameter</th>
          <th rowspan="2">codes</th>
          <th rowspan="2">Acceptance criteria</th>
          <th class="text-center" colspan="2">Results </th>
          <th rowspan="2">Complies / Does not complies</th>
        </tr>
        <tr>
          <th>Minimum</th>
          <th>Maximum</th>
        </tr>
      </thead>
      <tbody>
        <% product.unitOperation5.forEach((item,i) => { %>
        <tr>
          <td><%= item.criticalProcessParameter %></td>
          <td><%= item.codes %></td>
          <td><%= item.acceptanceCriteria %></td>
          <td><%= item.results.minimum  %></td>
          <td><%= item.results.maximum %></td>
          <td><%= item.compliesNotComplies %></td>
        </tr>
        <% }); %>
      </tbody>
    </table>

    <h3>Unit Operation 6</h3>
    <table>
      <thead>
        <tr style="text-transform: uppercase;">
          <th rowspan="2">Critical Process Parameter</th>
          <th rowspan="2">codes</th>
          <th rowspan="2">Acceptance criteria</th>
          <th class="text-center" colspan="2">Results </th>
          <th rowspan="2">Complies / Does not complies</th>
        </tr>
        <tr>
          <th>Minimum</th>
          <th>Maximum</th>
        </tr>
      </thead>
      <tbody>
        <% product.unitOperation6.forEach((item,i) => { %>
        <tr>
          <td><%= item.criticalProcessParameter %></td>
          <td><%= item.codes %></td>
          <td><%= item.acceptanceCriteria %></td>
          <td><%= item.results.minimum  %></td>
          <td><%= item.results.maximum %></td>
          <td><%= item.compliesNotComplies %></td>
        </tr>
        <% }); %>
      </tbody>
    </table>

    <h3>Unit Operation 7</h3>
    <table>
      <thead>
        <tr style="text-transform: uppercase;">
          <th rowspan="2">Critical Process Parameter</th>
          <th rowspan="2">codes</th>
          <th rowspan="2">Acceptance criteria</th>
          <th class="text-center" colspan="2">Results </th>
          <th rowspan="2">Complies / Does not complies</th>
        </tr>
        <tr>
          <th>Minimum</th>
          <th>Maximum</th>
        </tr>
      </thead>
      <tbody>
        <% product.unitOperation7.forEach((item,i) => { %>
        <tr>
          <td><%= item.criticalProcessParameter %></td>
          <td><%= item.codes %></td>
          <td><%= item.acceptanceCriteria %></td>
          <td><%= item.results.minimum  %></td>
          <td><%= item.results.maximum %></td>
          <td><%= item.compliesNotComplies %></td>
        </tr>
        <% }); %>
      </tbody>
    </table>

    <h3>Unit Operation 8</h3>
    <table>
      <thead>
        <tr style="text-transform: uppercase;">
          <th rowspan="2">Critical Process Parameter</th>
          <th rowspan="2">codes</th>
          <th rowspan="2">Acceptance criteria</th>
          <th class="text-center" colspan="2">Results </th>
          <th rowspan="2">Complies / Does not complies</th>
        </tr>
        <tr>
          <th>Minimum</th>
          <th>Maximum</th>
        </tr>
      </thead>
      <tbody>
        <% product.unitOperation8.forEach((item,i) => { %>
        <tr>
          <td><%= item.criticalProcessParameter %></td>
          <td><%= item.codes %></td>
          <td><%= item.acceptanceCriteria %></td>
          <td><%= item.results.minimum  %></td>
          <td><%= item.results.maximum %></td>
          <td><%= item.compliesNotComplies %></td>
        </tr>
        <% }); %>
      </tbody>
    </table>

    <h3>Unit Operation 9</h3>
    <table>
      <thead>
        <tr style="text-transform: uppercase;">
          <th rowspan="2">Critical Process Parameter</th>
          <th rowspan="2">codes</th>
          <th rowspan="2">Acceptance criteria</th>
          <th class="text-center" colspan="2">Results </th>
          <th rowspan="2">Complies / Does not complies</th>
        </tr>
        <tr>
          <th>Minimum</th>
          <th>Maximum</th>
        </tr>
      </thead>
      <tbody>
        <% product.unitOperation9.forEach((item,i) => { %>
        <tr>
          <td><%= item.criticalProcessParameter %></td>
          <td><%= item.codes %></td>
          <td><%= item.acceptanceCriteria %></td>
          <td><%= item.results.minimum  %></td>
          <td><%= item.results.maximum %></td>
          <td><%= item.compliesNotComplies %></td>
        </tr>
        <% }); %>
      </tbody>
    </table>

    <h3>Unit Operation 10</h3>
    <table>
      <thead>
        <tr style="text-transform: uppercase;">
          <th rowspan="2">Critical Process Parameter</th>
          <th rowspan="2">codes</th>
          <th rowspan="2">Acceptance criteria</th>
          <th class="text-center" colspan="2">Results </th>
          <th rowspan="2">Complies / Does not complies</th>
        </tr>
        <tr>
          <th>Minimum</th>
          <th>Maximum</th>
        </tr>
      </thead>
      <tbody>
        <% product.unitOperation10.forEach((item,i) => { %>
        <tr>
          <td><%= item.criticalProcessParameter %></td>
          <td><%= item.codes %></td>
          <td><%= item.acceptanceCriteria %></td>
          <td><%= item.results.minimum  %></td>
          <td><%= item.results.maximum %></td>
          <td><%= item.compliesNotComplies %></td>
        </tr>
        <% }); %>
      </tbody>
    </table>

    <div class="summary">
      <h3>Critical Process Parameters Review Summary :-</h3>
      &nbsp &nbsp
      <p><%= product.CPPRSSummary %></p>
    </div>  


    <!-- Tab 4 -->

    <h1>Laboratory Review</h1>
    <h2>Review of Drug Substance Test Results
    </h2>
    <h3>pH Of Paracetamol Test Result
    </h3>

    <table>
      <thead>
        <tr style="text-transform: uppercase;">
          <th >Batch No</th>
          <th >Tests parameter</th>
          <th >LSL</th>
          <th >USL</th>
          <th >LCL</th>
          <th >UCL</th>
          <th>Observed Value </th>
          <th >Complies / Does not complies</th>
        </tr>

      </thead>
      <tbody>
        <% product.reviewODSTR.forEach((item,i) => { %>
        <tr>
          <td><%= item.batchNo %></td>
          <td><%= item.testsParameter %></td>
          <td><%= item.LSL %></td>
          <td><%= item.USL %></td>
          <td><%= item.LCL %></td>
          <td><%= item.UCL %></td>
          <td><%= item.observedValue %></td>
          <td><%= item.compliesNotComplies %></td>
        </tr>
        <% }); %>
      </tbody>
    </table>

    <h3>Assay Of Paracetamol Test Result
    </h3>

      <table>
      <thead>
        <tr style="text-transform: uppercase;">
          <th >Batch No</th>
          <th >Tests parameter</th>
          <th >LSL</th>
          <th >USL</th>
          <th >LCL</th>
          <th >UCL</th>
          <th>Observed Value </th>
          <th >Complies / Does not complies</th>
        </tr>

      </thead>
      <tbody>
        <% product.reviewODSTR2.forEach((item,i) => { %>
        <tr>
          <td><%= item.batchNo %></td>
          <td><%= item.testsParameter %></td>
          <td><%= item.LSL %></td>
          <td><%= item.USL %></td>
          <td><%= item.LCL %></td>
          <td><%= item.UCL %></td>
          <td><%= item.observedValue %></td>
          <td><%= item.compliesNotComplies %></td>
        </tr>
        <% }); %>
      </tbody>
    </table>


        <h3>Impurity Of Paracetamol Test Result</h3>

      <table>
      <thead>
        <tr style="text-transform: uppercase;">
          <th >Batch No</th>
          <th >Tests parameter</th>
          <th >LSL</th>
          <th >USL</th>
          <th >LCL</th>
          <th >UCL</th>
          <th>Observed Value </th>
          <th >Complies / Does not complies</th>
        </tr>

      </thead>
      <tbody>
        <% product.reviewODSTR3.forEach((item,i) => { %>
        <tr>
          <td><%= item.batchNo %></td>
          <td><%= item.testsParameter %></td>
          <td><%= item.LSL %></td>
          <td><%= item.USL %></td>
          <td><%= item.LCL %></td>
          <td><%= item.UCL %></td>
          <td><%= item.observedValue %></td>
          <td><%= item.compliesNotComplies %></td>
        </tr>
        <% }); %>
      </tbody>
    </table>
    
        <h3>Dissolution Of Paracetamol Test Result </h3>

      <table>
      <thead>
        <tr style="text-transform: uppercase;">
          <th >Batch No</th>
          <th >Tests parameter</th>
          <th >LSL</th>
          <th >USL</th>
          <th >LCL</th>
          <th >UCL</th>
          <th>Observed Value </th>
          <th >Complies / Does not complies</th>
        </tr>

      </thead>
      <tbody>
        <% product.reviewODSTR4.forEach((item,i) => { %>
        <tr>
          <td><%= item.batchNo %></td>
          <td><%= item.testsParameter %></td>
          <td><%= item.LSL %></td>
          <td><%= item.USL %></td>
          <td><%= item.LCL %></td>
          <td><%= item.UCL %></td>
          <td><%= item.observedValue %></td>
          <td><%= item.compliesNotComplies %></td>
        </tr>
        <% }); %>
      </tbody>
    </table>


        <h3>Disintegration Of Paracetamol Test Result
    </h3>

      <table>
      <thead>
        <tr style="text-transform: uppercase;">
          <th >Batch No</th>
          <th >Tests parameter</th>
          <th >LSL</th>
          <th >USL</th>
          <th >LCL</th>
          <th >UCL</th>
          <th>Observed Value </th>
          <th >Complies / Does not complies</th>
        </tr>

      </thead>
      <tbody>
        <% product.reviewODSTR5.forEach((item,i) => { %>
        <tr>
          <td><%= item.batchNo %></td>
          <td><%= item.testsParameter %></td>
          <td><%= item.LSL %></td>
          <td><%= item.USL %></td>
          <td><%= item.LCL %></td>
          <td><%= item.UCL %></td>
          <td><%= item.observedValue %></td>
          <td><%= item.compliesNotComplies %></td>
        </tr>
        <% }); %>
      </tbody>
    </table>

        <h3>pH  Of Terbinafine Test Result
    </h3>

      <table>
      <thead>
        <tr style="text-transform: uppercase;">
          <th >Batch No</th>
          <th >Tests parameter</th>
          <th >LSL</th>
          <th >USL</th>
          <th >LCL</th>
          <th >UCL</th>
          <th>Observed Value </th>
          <th >Complies / Does not complies</th>
        </tr>

      </thead>
      <tbody>
        <% product.reviewODSTR6.forEach((item,i) => { %>
        <tr>
          <td><%= item.batchNo %></td>
          <td><%= item.testsParameter %></td>
          <td><%= item.LSL %></td>
          <td><%= item.USL %></td>
          <td><%= item.LCL %></td>
          <td><%= item.UCL %></td>
          <td><%= item.observedValue %></td>
          <td><%= item.compliesNotComplies %></td>
        </tr>
        <% }); %>
      </tbody>
    </table>

        <h3>Assay Of Terbinafine Test Result
    </h3>

      <table>
      <thead>
        <tr style="text-transform: uppercase;">
          <th >Batch No</th>
          <th >Tests parameter</th>
          <th >LSL</th>
          <th >USL</th>
          <th >LCL</th>
          <th >UCL</th>
          <th>Observed Value </th>
          <th >Complies / Does not complies</th>
        </tr>

      </thead>
      <tbody>
        <% product.reviewODSTR7.forEach((item,i) => { %>
        <tr>
          <td><%= item.batchNo %></td>
          <td><%= item.testsParameter %></td>
          <td><%= item.LSL %></td>
          <td><%= item.USL %></td>
          <td><%= item.LCL %></td>
          <td><%= item.UCL %></td>
          <td><%= item.observedValue %></td>
          <td><%= item.compliesNotComplies %></td>
        </tr>
        <% }); %>
      </tbody>
    </table>


        <h3>Impurity Of Terbinafine Test Result
    </h3>

      <table>
      <thead>
        <tr style="text-transform: uppercase;">
          <th >Batch No</th>
          <th >Tests parameter</th>
          <th >LSL</th>
          <th >USL</th>
          <th >LCL</th>
          <th >UCL</th>
          <th>Observed Value </th>
          <th >Complies / Does not complies</th>
        </tr>

      </thead>
      <tbody>
        <% product.reviewODSTR8.forEach((item,i) => { %>
        <tr>
          <td><%= item.batchNo %></td>
          <td><%= item.testsParameter %></td>
          <td><%= item.LSL %></td>
          <td><%= item.USL %></td>
          <td><%= item.LCL %></td>
          <td><%= item.UCL %></td>
          <td><%= item.observedValue %></td>
          <td><%= item.compliesNotComplies %></td>
        </tr>
        <% }); %>
      </tbody>
    </table>



        <h3>Dissolution  Of Terbinafine  Test Result
    </h3>

      <table>
      <thead>
        <tr style="text-transform: uppercase;">
          <th >Batch No</th>
          <th >Tests parameter</th>
          <th >LSL</th>
          <th >USL</th>
          <th >LCL</th>
          <th >UCL</th>
          <th>Observed Value </th>
          <th >Complies / Does not complies</th>
        </tr>

      </thead>
      <tbody>
        <% product.reviewODSTR9.forEach((item,i) => { %>
        <tr>
          <td><%= item.batchNo %></td>
          <td><%= item.testsParameter %></td>
          <td><%= item.LSL %></td>
          <td><%= item.USL %></td>
          <td><%= item.LCL %></td>
          <td><%= item.UCL %></td>
          <td><%= item.observedValue %></td>
          <td><%= item.compliesNotComplies %></td>
        </tr>
        <% }); %>
      </tbody>
    </table>



        <h3>Disintegration Of Terbinafine  Test Result
    </h3>

      <table>
      <thead>
        <tr style="text-transform: uppercase;">
          <th >Batch No</th>
          <th >Tests parameter</th>
          <th >LSL</th>
          <th >USL</th>
          <th >LCL</th>
          <th >UCL</th>
          <th>Observed Value </th>
          <th >Complies / Does not complies</th>
        </tr>

      </thead>
      <tbody>
        <% product.reviewODSTR10.forEach((item,i) => { %>
        <tr>
          <td><%= item.batchNo %></td>
          <td><%= item.testsParameter %></td>
          <td><%= item.LSL %></td>
          <td><%= item.USL %></td>
          <td><%= item.LCL %></td>
          <td><%= item.UCL %></td>
          <td><%= item.observedValue %></td>
          <td><%= item.compliesNotComplies %></td>
        </tr>
        <% }); %>
      </tbody>
    </table>



        <h3>pH Of Pentoprazole  Test Result
    </h3>

      <table>
      <thead>
        <tr style="text-transform: uppercase;">
          <th >Batch No</th>
          <th >Tests parameter</th>
          <th >LSL</th>
          <th >USL</th>
          <th >LCL</th>
          <th >UCL</th>
          <th>Observed Value </th>
          <th >Complies / Does not complies</th>
        </tr>

      </thead>
      <tbody>
        <% product.reviewODSTR11.forEach((item,i) => { %>
        <tr>
          <td><%= item.batchNo %></td>
          <td><%= item.testsParameter %></td>
          <td><%= item.LSL %></td>
          <td><%= item.USL %></td>
          <td><%= item.LCL %></td>
          <td><%= item.UCL %></td>
          <td><%= item.observedValue %></td>
          <td><%= item.compliesNotComplies %></td>
        </tr>
        <% }); %>
      </tbody>
    </table>



        <h3>Assay Of Pentoprazole  Test Result
    </h3>

      <table>
      <thead>
        <tr style="text-transform: uppercase;">
          <th >Batch No</th>
          <th >Tests parameter</th>
          <th >LSL</th>
          <th >USL</th>
          <th >LCL</th>
          <th >UCL</th>
          <th>Observed Value </th>
          <th >Complies / Does not complies</th>
        </tr>

      </thead>
      <tbody>
        <% product.reviewODSTR12.forEach((item,i) => { %>
        <tr>
          <td><%= item.batchNo %></td>
          <td><%= item.testsParameter %></td>
          <td><%= item.LSL %></td>
          <td><%= item.USL %></td>
          <td><%= item.LCL %></td>
          <td><%= item.UCL %></td>
          <td><%= item.observedValue %></td>
          <td><%= item.compliesNotComplies %></td>
        </tr>
        <% }); %>
      </tbody>
    </table>

        <h3>Impurity  Of Pentoprazole  Test Result
    </h3>

      <table>
      <thead>
        <tr style="text-transform: uppercase;">
          <th >Batch No</th>
          <th >Tests parameter</th>
          <th >LSL</th>
          <th >USL</th>
          <th >LCL</th>
          <th >UCL</th>
          <th>Observed Value </th>
          <th >Complies / Does not complies</th>
        </tr>

      </thead>
      <tbody>
        <% product.reviewODSTR13.forEach((item,i) => { %>
        <tr>
          <td><%= item.batchNo %></td>
          <td><%= item.testsParameter %></td>
          <td><%= item.LSL %></td>
          <td><%= item.USL %></td>
          <td><%= item.LCL %></td>
          <td><%= item.UCL %></td>
          <td><%= item.observedValue %></td>
          <td><%= item.compliesNotComplies %></td>
        </tr>
        <% }); %>
      </tbody>
    </table>




        <h3>Dissolution Of Pentoprazole  Test Result
    </h3>

      <table>
      <thead>
        <tr style="text-transform: uppercase;">
          <th >Batch No</th>
          <th >Tests parameter</th>
          <th >LSL</th>
          <th >USL</th>
          <th >LCL</th>
          <th >UCL</th>
          <th>Observed Value </th>
          <th >Complies / Does not complies</th>
        </tr>

      </thead>
      <tbody>
        <% product.reviewODSTR14.forEach((item,i) => { %>
        <tr>
          <td><%= item.batchNo %></td>
          <td><%= item.testsParameter %></td>
          <td><%= item.LSL %></td>
          <td><%= item.USL %></td>
          <td><%= item.LCL %></td>
          <td><%= item.UCL %></td>
          <td><%= item.observedValue %></td>
          <td><%= item.compliesNotComplies %></td>
        </tr>
        <% }); %>
      </tbody>
    </table>



        <h3>Disintegration Of Pentoprazole  Test Result
    </h3>

      <table>
      <thead>
        <tr style="text-transform: uppercase;">
          <th >Batch No</th>
          <th >Tests parameter</th>
          <th >LSL</th>
          <th >USL</th>
          <th >LCL</th>
          <th >UCL</th>
          <th>Observed Value </th>
          <th >Complies / Does not complies</th>
        </tr>

      </thead>
      <tbody>
        <% product.reviewODSTR15.forEach((item,i) => { %>
        <tr>
          <td><%= item.batchNo %></td>
          <td><%= item.testsParameter %></td>
          <td><%= item.LSL %></td>
          <td><%= item.USL %></td>
          <td><%= item.LCL %></td>
          <td><%= item.UCL %></td>
          <td><%= item.observedValue %></td>
          <td><%= item.compliesNotComplies %></td>
        </tr>
        <% }); %>
      </tbody>
    </table>

    <div class="summary">
      <h3>Summary of Review of Drug Substance Test Results :-</h3>
        &nbsp &nbsp
      <p><%= product.reviewODSTRSummary %></p>
    </div>  

    <h3>Review of Raw Material Excipient Test Results
    </h3>

    <table>
      <thead>
        <tr style="text-transform: uppercase;">
          <th rowspan="2">Sl. No</th>
          <th rowspan="2">Material</th>
          <th rowspan="2">Test parameter</th>
          <th rowspan="2">Specification limit</th>
          <th class="text-center" colspan="2">Obtained value </th>
          <th rowspan="2">Complies / Does not complies</th>
        </tr>
        <tr>
          <th>Minimum</th>
          <th>Maximum</th>
        </tr>
      </thead>
      <tbody>
        <% product.reviewORMETR.forEach((item,i) => { %>
        <tr>
          <td><%= item.Sl_No || i+1 %></td>
          <td><%= item.material %></td>
          <td><%= item.testsParameter %></td>
          <td><%= item.specificationLimit %></td>
          <td><%= item.obtainedValue.minimum %></td>
          <td><%= item.obtainedValue.maximum %></td>
          <td><%= item.compliesNotComplies %></td>
        </tr>
        <% }); %>
      </tbody>
    </table>

    <div class="summary">
      <h3>Summary of Review of Raw Material Excipient Test Results:-</h3>
      &nbsp &nbsp
      <p><%= product.reviewORMETRSummary %></p>
    </div>  


    <h3>Review of Packing Material Test Results
    </h3>

    <table>
      <thead>
        <tr style="text-transform: uppercase;">
          <th rowspan="2">Sl. No</th>
          <th rowspan="2">Primary Packing Material</th>
          <th rowspan="2">Test parameter</th>
          <th rowspan="2">Specification limit</th>
          <th class="text-center" colspan="2">Obtained value </th>
          <th rowspan="2">Complies / Does not complies</th>
        </tr>
        <tr>
          <th>Minimum</th>
          <th>Maximum</th>
        </tr>
      </thead>
      <tbody>
        <% product.reviewOPMTR.forEach((item,i) => { %>
        <tr>
          <td><%= item.Sl_No || i+1 %></td>
          <td><%= item.material %></td>
          <td><%= item.testsParameter %></td>
          <td><%= item.specificationLimit %></td>
          <td><%= item.obtainedValue.minimum %></td>
          <td><%= item.obtainedValue.maximum %></td>
          <td><%= item.compliesNotComplies %></td>
        </tr>
        <% }); %>
      </tbody>
    </table>

    <div class="summary">
      <h3>Summary of Review of Packing Material Test Results :-</h3>
      &nbsp &nbsp
      <p><%= product.reviewOPMTRSummary %></p>
    </div>  

    <h3>Dilution Buffer 1 - Test Results
    </h3>

    <table>
      <thead>
        <tr style="text-transform: uppercase;">
          <th rowspan="2">Sl. No</th>
          <th rowspan="2">Tests parameter	</th>
          <th rowspan="2">Stage</th>
          <th rowspan="2">Specification limit</th>
          <th class="text-center" colspan="2">Obtained value </th>
          <th rowspan="2">Complies / Does not complies</th>
        </tr>
        <tr>
          <th>Minimum</th>
          <th>Maximum</th>
        </tr>
      </thead>
      <tbody>
        <% product.reviewODP.forEach((item,i) => { %>
        <tr>
          <td><%= item.Sl_No || i+1 %></td>
          <td><%= item.testsParameter %></td>
          <td><%= item.stage %></td>
          <td><%= item.specificationLimit %></td>
          <td><%= item.obtainedValue.minimum %></td>
          <td><%= item.obtainedValue.maximum %></td>
          <td><%= item.compliesNotComplies %></td>
        </tr>
        <% }); %>
      </tbody>
    </table>

        <h3>Dilution Buffer 2 - Test Results
    </h3>

    <table>
      <thead>
        <tr style="text-transform: uppercase;">
          <th rowspan="2">Sl. No</th>
          <th rowspan="2">Tests parameter	</th>
          <th rowspan="2">Stage</th>
          <th rowspan="2">Specification limit</th>
          <th class="text-center" colspan="2">Obtained value </th>
          <th rowspan="2">Complies / Does not complies</th>
        </tr>
        <tr>
          <th>Minimum</th>
          <th>Maximum</th>
        </tr>
      </thead>
      <tbody>
        <% product.reviewODP2.forEach((item,i) => { %>
        <tr>
          <td><%= item.Sl_No || i+1 %></td>
          <td><%= item.testsParameter %></td>
          <td><%= item.stage %></td>
          <td><%= item.specificationLimit %></td>
          <td><%= item.obtainedValue.minimum %></td>
          <td><%= item.obtainedValue.maximum %></td>
          <td><%= item.compliesNotComplies %></td>
        </tr>
        <% }); %>
      </tbody>
    </table>

        <h3>Dilution Buffer 3 - Test Results
    </h3>

    <table>
      <thead>
        <tr style="text-transform: uppercase;">
          <th rowspan="2">Sl. No</th>
          <th rowspan="2">Tests parameter	</th>
          <th rowspan="2">Stage</th>
          <th rowspan="2">Specification limit</th>
          <th class="text-center" colspan="2">Obtained value </th>
          <th rowspan="2">Complies / Does not complies</th>
        </tr>
        <tr>
          <th>Minimum</th>
          <th>Maximum</th>
        </tr>
      </thead>
      <tbody>
        <% product.reviewODP3.forEach((item,i) => { %>
        <tr>
          <td><%= item.Sl_No || i+1 %></td>
          <td><%= item.testsParameter %></td>
          <td><%= item.stage %></td>
          <td><%= item.specificationLimit %></td>
          <td><%= item.obtainedValue.minimum %></td>
          <td><%= item.obtainedValue.maximum %></td>
          <td><%= item.compliesNotComplies %></td>
        </tr>
        <% }); %>
      </tbody>
    </table>

        <h3>Dilution Buffer 4 - Test Results
    </h3>

    <table>
      <thead>
        <tr style="text-transform: uppercase;">
          <th rowspan="2">Sl. No</th>
          <th rowspan="2">Tests parameter	</th>
          <th rowspan="2">Stage</th>
          <th rowspan="2">Specification limit</th>
          <th class="text-center" colspan="2">Obtained value </th>
          <th rowspan="2">Complies / Does not complies</th>
        </tr>
        <tr>
          <th>Minimum</th>
          <th>Maximum</th>
        </tr>
      </thead>
      <tbody>
        <% product.reviewODP4.forEach((item,i) => { %>
        <tr>
          <td><%= item.Sl_No || i+1 %></td>
          <td><%= item.testsParameter %></td>
          <td><%= item.stage %></td>
          <td><%= item.specificationLimit %></td>
          <td><%= item.obtainedValue.minimum %></td>
          <td><%= item.obtainedValue.maximum %></td>
          <td><%= item.compliesNotComplies %></td>
        </tr>
        <% }); %>
      </tbody>
    </table>

        <h3>Dilution Buffer 5 - Test Results
    </h3>

    <table>
      <thead>
        <tr style="text-transform: uppercase;">
          <th rowspan="2">Sl. No</th>
          <th rowspan="2">Tests parameter	</th>
          <th rowspan="2">Stage</th>
          <th rowspan="2">Specification limit</th>
          <th class="text-center" colspan="2">Obtained value </th>
          <th rowspan="2">Complies / Does not complies</th>
        </tr>
        <tr>
          <th>Minimum</th>
          <th>Maximum</th>
        </tr>
      </thead>
      <tbody>
        <% product.reviewODP5.forEach((item,i) => { %>
        <tr>
          <td><%= item.Sl_No || i+1 %></td>
          <td><%= item.testsParameter %></td>
          <td><%= item.stage %></td>
          <td><%= item.specificationLimit %></td>
          <td><%= item.obtainedValue.minimum %></td>
          <td><%= item.obtainedValue.maximum %></td>
          <td><%= item.compliesNotComplies %></td>
        </tr>
        <% }); %>
      </tbody>
    </table>


        <h3>Dilution Buffer 6 - Test Results
    </h3>

    <table>
      <thead>
        <tr style="text-transform: uppercase;">
          <th rowspan="2">Sl. No</th>
          <th rowspan="2">Tests parameter	</th>
          <th rowspan="2">Stage</th>
          <th rowspan="2">Specification limit</th>
          <th class="text-center" colspan="2">Obtained value </th>
          <th rowspan="2">Complies / Does not complies</th>
        </tr>
        <tr>
          <th>Minimum</th>
          <th>Maximum</th>
        </tr>
      </thead>
      <tbody>
        <% product.reviewODP6.forEach((item,i) => { %>
        <tr>
          <td><%= item.Sl_No || i+1 %></td>
          <td><%= item.testsParameter %></td>
          <td><%= item.stage %></td>
          <td><%= item.specificationLimit %></td>
          <td><%= item.obtainedValue.minimum %></td>
          <td><%= item.obtainedValue.maximum %></td>
          <td><%= item.compliesNotComplies %></td>
        </tr>
        <% }); %>
      </tbody>
    </table>

        <h3>Dilution Buffer 7 - Test Results
    </h3>

    <table>
      <thead>
        <tr style="text-transform: uppercase;">
          <th rowspan="2">Sl. No</th>
          <th rowspan="2">Tests parameter	</th>
          <th rowspan="2">Stage</th>
          <th rowspan="2">Specification limit</th>
          <th class="text-center" colspan="2">Obtained value </th>
          <th rowspan="2">Complies / Does not complies</th>
        </tr>
        <tr>
          <th>Minimum</th>
          <th>Maximum</th>
        </tr>
      </thead>
      <tbody>
        <% product.reviewODP7.forEach((item,i) => { %>
        <tr>
          <td><%= item.Sl_No || i+1 %></td>
          <td><%= item.testsParameter %></td>
          <td><%= item.stage %></td>
          <td><%= item.specificationLimit %></td>
          <td><%= item.obtainedValue.minimum %></td>
          <td><%= item.obtainedValue.maximum %></td>
          <td><%= item.compliesNotComplies %></td>
        </tr>
        <% }); %>
      </tbody>
    </table>


        <h3>Dilution Buffer 8 - Test Results
    </h3>

    <table>
      <thead>
        <tr style="text-transform: uppercase;">
          <th rowspan="2">Sl. No</th>
          <th rowspan="2">Tests parameter	</th>
          <th rowspan="2">Stage</th>
          <th rowspan="2">Specification limit</th>
          <th class="text-center" colspan="2">Obtained value </th>
          <th rowspan="2">Complies / Does not complies</th>
        </tr>
        <tr>
          <th>Minimum</th>
          <th>Maximum</th>
        </tr>
      </thead>
      <tbody>
        <% product.reviewODP8.forEach((item,i) => { %>
        <tr>
          <td><%= item.Sl_No || i+1 %></td>
          <td><%= item.testsParameter %></td>
          <td><%= item.stage %></td>
          <td><%= item.specificationLimit %></td>
          <td><%= item.obtainedValue.minimum %></td>
          <td><%= item.obtainedValue.maximum %></td>
          <td><%= item.compliesNotComplies %></td>
        </tr>
        <% }); %>
      </tbody>
    </table>

        <h3>Dilution Buffer 9 - Test Results
    </h3>

    <table>
      <thead>
        <tr style="text-transform: uppercase;">
          <th rowspan="2">Sl. No</th>
          <th rowspan="2">Tests parameter	</th>
          <th rowspan="2">Stage</th>
          <th rowspan="2">Specification limit</th>
          <th class="text-center" colspan="2">Obtained value </th>
          <th rowspan="2">Complies / Does not complies</th>
        </tr>
        <tr>
          <th>Minimum</th>
          <th>Maximum</th>
        </tr>
      </thead>
      <tbody>
        <% product.reviewODP9.forEach((item,i) => { %>
        <tr>
          <td><%= item.Sl_No || i+1 %></td>
          <td><%= item.testsParameter %></td>
          <td><%= item.stage %></td>
          <td><%= item.specificationLimit %></td>
          <td><%= item.obtainedValue.minimum %></td>
          <td><%= item.obtainedValue.maximum %></td>
          <td><%= item.compliesNotComplies %></td>
        </tr>
        <% }); %>
      </tbody>
    </table>

        <h3>Dilution Buffer 10 - Test Results
    </h3>

    <table>
      <thead>
        <tr style="text-transform: uppercase;">
          <th rowspan="2">Sl. No</th>
          <th rowspan="2">Tests parameter	</th>
          <th rowspan="2">Stage</th>
          <th rowspan="2">Specification limit</th>
          <th class="text-center" colspan="2">Obtained value </th>
          <th rowspan="2">Complies / Does not complies</th>
        </tr>
        <tr>
          <th>Minimum</th>
          <th>Maximum</th>
        </tr>
      </thead>
      <tbody>
        <% product.reviewODP10.forEach((item,i) => { %>
        <tr>
          <td><%= item.Sl_No || i+1 %></td>
          <td><%= item.testsParameter %></td>
          <td><%= item.stage %></td>
          <td><%= item.specificationLimit %></td>
          <td><%= item.obtainedValue.minimum %></td>
          <td><%= item.obtainedValue.maximum %></td>
          <td><%= item.compliesNotComplies %></td>
        </tr>
        <% }); %>
      </tbody>
    </table>

    <div class="summary">
      <h3>Summary of Review of Drug Product  In process Test Results :-</h3>
      &nbsp &nbsp
      <p><%= product.reviewODPSummary %></p>
    </div>  



        <h3>Review of Drug Product Finished Product Test Results</h3>

    <table>
      <thead>
        <tr style="text-transform: uppercase;">
          <th rowspan="2">Sl. No</th>
          <th rowspan="2">Tests parameter	</th>
          <th rowspan="2">Specification limit</th>
          <th class="text-center" colspan="2">Obtained value </th>
          <th rowspan="2">Complies / Does not complies</th>
        </tr>
        <tr>
          <th>Minimum</th>
          <th>Maximum</th>
        </tr>
      </thead>
      <tbody>
        <% product.reviewODPFPTR.forEach((item,i) => { %>
        <tr>
          <td><%= item.Sl_No || i+1 %></td>
          <td><%= item.testsParameter %></td>
          <td><%= item.specificationLimit %></td>
          <td><%= item.obtainedValue.minimum %></td>
          <td><%= item.obtainedValue.maximum %></td>
          <td><%= item.compliesNotComplies %></td>
        </tr>
        <% }); %>
      </tbody>
    </table>

    <div class="summary">
      <h3>Summary of Review of Drug Product Finished Product Test Results :-</h3>
      &nbsp &nbsp
      <p><%= product.reviewODPSummary %></p>
    </div>  

    
    <h3>Summary of Ongoing Stability Studies</h3>
    <table>
      <thead>
        <tr style="text-transform: uppercase;">
          <th >Sl. No</th>
          <th >Batch No.	</th>
          <th >Type</th>
          <th >	Storage Condition</th>
          <th >	Testing Intervals Months completed</th>
          <th >Stability Protocol No.</th>
        </tr>
      </thead>
      <tbody>
        <% product.summaryOOSS.forEach((item,i) => { %>
        <tr>
          <td><%= item.Sl_No || i+1 %></td>
          <td><%= item.batchNo %></td>
          <td><%= item.type %></td>
          <td><%= item.storageCondition %></td>
          <td><%= item.testingInterval %></td>
          <td><%= item.stabilityProtocolNo %></td>
        </tr>
        <% }); %>
      </tbody>
    </table>

    <div class="summary">
      <h3>Summary of Ongoing Stability Studies :-</h3>
      &nbsp &nbsp
      <p><%= product.summaryOOSSSummary %></p>
    </div>  


    <h3>Stability Study Related OOS/OOT</h3>
    <table>
      <thead>
        <tr style="text-transform: uppercase;">
          <th >Sl. No</th>
          <th >Batch No.	</th>
          <th >Testing Intervals Months	</th>
          <th >OOS Number</th>
        </tr>
      </thead>
      <tbody>
        <% product.stabilitySR.forEach((item,i) => { %>
        <tr>
          <td><%= item.Sl_No || i+1 %></td>
          <td><%= item.batchNo %></td>
          <td><%= item.testingIntervalMonths %></td>
          <td><%= item.OOSNumber %></td>
        </tr>
        <% }); %>
      </tbody>
    </table>

    <div class="summary">
      <h3>Summary of Stability Study Related OOS/OOT:-</h3>
      &nbsp &nbsp
      <p><%= product.stabilitySRSummary %></p>
    </div>  

    <h3>Review of Visual Inspection  Reserve Samples</h3>
    <table>
      <thead>
        <tr style="text-transform: uppercase;">
          <th >Column 1</th>
          <th >Column 2</th>
          <th >Column 3</th>
          <th >Column 4</th>
          <th >Column 5</th>
          <th >Column 6</th>
          <th >Column 7</th>
          <th >Column 8</th>
        </tr>
      </thead>
      <tbody>
        <% product.reviewOVIRS.forEach((item,i) => { %>
        <tr>
          <td><%= item.column1 %></td>
          <td><%= item.column2 %></td>
          <td><%= item.column3 %></td>
          <td><%= item.column4 %></td>
          <td><%= item.column5 %></td>
          <td><%= item.column6 %></td>
          <td><%= item.column7 %></td>
          <td><%= item.column8 %></td>
        </tr>
        <% }); %>
      </tbody>
    </table>

    <div class="summary">
      <h3>Summary of Review of Visual Inspection  Reserve Samples:-</h3>
      &nbsp &nbsp
      <p><%= product.reviewOVIRSSummary %></p>
    </div>  

    <div class="summary">
      <h3>Summary of Review of Analytical Method Validations:-</h3>
      &nbsp &nbsp
      <p><%= product.reviewOAMVSummary %></p>
    </div>  

    <div class="summary">
      <h3>Summary of Review of Contract Testing Laboratories:-</h3>
      &nbsp &nbsp
      <p><%= product.reviewOCTLSummary %></p>
    </div>  

    <div class="summary">
      <h3>Summary of Review of Environmental Monitoring Trend and water trends Reports :-</h3>
      &nbsp &nbsp
      <p><%= product.reviewOEMTAWTRSummary %></p>
    </div>  

    <div class="summary">
      <h3>Laboratory Review Summary :-</h3>
      &nbsp &nbsp
      <p><%= product.reviewLRSummary %></p>
    </div>  



    <!-- Tab 5 -->
    <h1>Engineering And Maintenance Review</h1>

    <h3>Preventive Maintenance Details</h3>
    <div class="summary">
      <h3>Summary of Review of Preventive Maintenance Details :-</h3>
      &nbsp &nbsp
      <p><%= product.pMDSummary %></p>
    </div> 
    <div class="summary">
      <h3>Summary of Qualification details :-</h3>
      &nbsp &nbsp
      <p><%= product.qDSummary %></p>
    </div> 
    <div class="summary">
      <h3>Summary of Calibration Details :-</h3>
      &nbsp &nbsp
      <p><%= product.cDSummary %></p>
    </div> 
    <h2>HVAC Qualification Status
    </h2>
    <table>
      <thead>
        <tr style="text-transform: uppercase;">
          <th rowspan="2">Sl. No</th>
          <th rowspan="2">Test Description</th>
          <th rowspan="2">Frequency</th>
          <th colspan="2">Status</th>
      </thead>
      <tbody>
        <% product.hVACQStatus.forEach((item,i) => { %>
        <tr>
          <td><%= item.Sl_No || i+1 %></td>
          <td><%= item.testDescription %></td>
          <td><%= item.frequency %></td>
          <td><%= item.status %></td>
        </tr>
        <% }); %>
      </tbody>
    </table>
    <div class="summary">
      <h3>Summary of HVAC Qualification Status :-</h3>
      &nbsp &nbsp
      <p><%= product.hVACSummary %></p>
    </div>

    <h3>Sanitization and Sterilization Details of Utilities</h3>
    <table>
      <thead>
        <tr style="text-transform: uppercase;">
          <th rowspan="2">Sl. No</th>
          <th rowspan="2">Equipment Name</th>
          <th rowspan="2">Frequency</th>
          <th colspan="2">Status</th>
      </thead>
      <tbody>
        <% product.sanitizationASDOU.forEach((item,i) => { %>
        <tr>
          <td><%= item.Sl_No || i+1 %></td>
          <td><%= item.equipmentName %></td>
          <td><%= item.frequency %></td>
          <td><%= item.status %></td>
        </tr>
        <% }); %>
      </tbody>
    </table>

    <div class="summary">
      <h3>Summary of Sanitization and Sterilization Details of Utilities :-</h3>
      &nbsp &nbsp
      <p><%= product.sASDOUSummary %></p>
    </div>

    <h3>Compressed Gases</h3>
    <table>
      <thead>
        <tr style="text-transform: uppercase;">
          <th rowspan="2">Sl. No</th>
          <th rowspan="2">Compressed Gas</th>
          <th rowspan="2">Test</th>
          <th rowspan="2">Frequency</th>
          <th colspan="2">Status</th>
      </thead>
      <tbody>
        <% product.compressedGas.forEach((item,i) => { %>
        <tr>
          <td><%= item.Sl_No || i+1 %></td>
          <td><%= item.compressedGas %></td>
          <td><%= item.test %></td>
          <td><%= item.frequency %></td>
          <td><%= item.status %></td>
        </tr>
        <% }); %>
      </tbody>
    </table>

<h3>Engineering Summary</h3>
<div class="summary">
  <h3>Summary of Engineering :-</h3>
  &nbsp &nbsp
  <p><%= product.engineeringSummary %></p>
</div>

<!-- Tab 6 -->
<h1>Quality System Review
</h1>
<h2>Review of Deviations
</h2>
<h3>Review of Current Period Deviations
</h3>
<table>
  <thead>
    <tr style="text-transform: uppercase;">
      <th >S. No</th>
      <th >Date Of Initiation</th>
      <th >Record No</th>
      <th >Site/Division</th>
      <th >Department</th>
      <th >Initiator</th>
      <th >Short Description</th>
      <th >Batch No</th>
      <th >Due Date</th>
      <th >Current Status</th>
  </thead>
  <tbody>
    <% product.reviewOfCPD.forEach((item,i) => { %>
    <tr>
      <td><%= item.S_No || i+1 %></td>
      <td><%= item.dateOfInitiation %></td>
      <td><%= item.recordNo %></td>
      <td><%= item.siteDivision %></td>
      <td><%= item.department %></td>
      <td><%= item.initiator%></td>
      <td><%= item.shortDescription %></td>
      <td><%= item.batchNo %></td>
      <td><%= item.dueDate %></td>
      <td><%= item.currentStatus %></td>
    </tr>
    <% }); %>
  </tbody>
</table>

<h3>Previous Review Period Deviations
</h3>
<table>
  <thead>
    <tr style="text-transform: uppercase;">
      <th >S. No</th>
      <th >Date Of Initiation</th>
      <th >Record No</th>
      <th >Site/Division</th>
      <th >Department</th>
      <th >Initiator</th>
      <th >Short Description</th>
      <th >Batch No</th>
      <th >Due Date</th>
      <th >Current Status</th>
  </thead>
  <tbody>
    <% product.previewRPD.forEach((item,i) => { %>
    <tr>
      <td><%= item.S_No || i+1 %></td>
      <td><%= item.dateOfInitiation %></td>
      <td><%= item.recordNo %></td>
      <td><%= item.siteDivision %></td>
      <td><%= item.department %></td>
      <td><%= item.initiator%></td>
      <td><%= item.shortDescription %></td>
      <td><%= item.batchNo %></td>
      <td><%= item.dueDate %></td>
      <td><%= item.currentStatus %></td>
    </tr>
    <% }); %>
  </tbody>
</table>
<div class="summary">
  <h3>Summary of Review of period Deviations :-</h3>
  &nbsp &nbsp
  <p><%= product.rdSummary %></p>
</div>

<h2>Review of OOS (Microbiological)</h2>
<h3>Current Review Period OOS</h3>
<table>
  <thead>
    <tr style="text-transform: uppercase;">
      <th >S. No</th>
      <th >Date Of Initiation</th>
      <th >Record No</th>
      <th >Site/Division</th>
      <th >Department</th>
      <th >Initiator</th>
      <th >Short Description</th>
      <th >Batch No</th>
      <th >Due Date</th>
      <th >Current Status</th>
  </thead>
  <tbody>
    <% product.currentOOS.forEach((item,i) => { %>
    <tr>
      <td><%= item.S_No || i+1 %></td>
      <td><%= item.dateOfInitiation %></td>
      <td><%= item.recordNo %></td>
      <td><%= item.siteDivision %></td>
      <td><%= item.department %></td>
      <td><%= item.initiator %></td>
      <td><%= item.shortDescription %></td>
      <td><%= item.batchNo %></td>
      <td><%= item.dueDate %></td>
      <td><%= item.currentStatus %></td>
    </tr>
    <% }); %>
  </tbody>
</table>
<h3>Previous Review Period OOS</h3>
<table>
  <thead>
    <tr style="text-transform: uppercase;">
      <th >S. No</th>
      <th >Date Of Initiation</th>
      <th >Record No</th>
      <th >Site/Division</th>
      <th >Department</th>
      <th >Initiator</th>
      <th >Short Description</th>
      <th >Batch No</th>
      <th >Due Date</th>
      <th >Current Status</th>
  </thead>
  <tbody>
    <% product.previewOOS.forEach((item,i) => { %>
    <tr>
      <td><%= item.S_No || i+1 %></td>
      <td><%= item.dateOfInitiation %></td>
      <td><%= item.recordNo %></td>
      <td><%= item.siteDivision %></td>
      <td><%= item.department %></td>
      <td><%= item.initiator%></td>
      <td><%= item.shortDescription %></td>
      <td><%= item.batchNo %></td>
      <td><%= item.dueDate %></td>
      <td><%= item.currentStatus %></td>
    </tr>
    <% }); %>
  </tbody>
</table>
<h3>OOS Summary</h3>
<div class="summary">
  <h3>Summary of OOS :-</h3>
  &nbsp &nbsp
  <p><%= product.oosSummary %></p>
</div>

<h2>Review of OOAC (Microbiological)</h2>
<h3>Current Review Period OOAC</h3>
<table>
  <thead>
    <tr style="text-transform: uppercase;">
      <th >S. No</th>
      <th >Date Of Initiation</th>
      <th >Record No</th>
      <th >Site/Division</th>
      <th >Department</th>
      <th >Initiator</th>
      <th >Short Description</th>
      <th >Batch No</th>
      <th >Due Date</th>
      <th >Current Status</th>
  </thead>
  <tbody>
    <% product.currentOOAC.forEach((item,i) => { %>
    <tr>
      <td><%= item.S_No || i+1 %></td>
      <td><%= item.dateOfInitiation %></td>
      <td><%= item.recordNo %></td>
      <td><%= item.siteDivision %></td>
      <td><%= item.department %></td>
      <td><%= item.initiator%></td>
      <td><%= item.shortDescription %></td>
      <td><%= item.batchNo %></td>
      <td><%= item.dueDate %></td>
      <td><%= item.currentStatus %></td>
    </tr>
    <% }); %>
  </tbody>
</table>

<h3>Previous Review Period OOAC</h3>
<table>
  <thead>
    <tr style="text-transform: uppercase;">
      <th >S. No</th>
      <th >Date Of Initiation</th>
      <th >Record No</th>
      <th >Site/Division</th>
      <th >Department</th>
      <th >Initiator</th>
      <th >Short Description</th>
      <th >Batch No</th>
      <th >Due Date</th>
      <th >Current Status</th>
  </thead>
  <tbody>
    <% product.previewOOAC.forEach((item,i) => { %>
    <tr>
      <td><%= item.S_No || i+1 %></td>
      <td><%= item.dateOfInitiation %></td>
      <td><%= item.recordNo %></td>
      <td><%= item.siteDivision %></td>
      <td><%= item.department %></td>
      <td><%= item.initiator%></td>
      <td><%= item.shortDescription %></td>
      <td><%= item.batchNo %></td>
      <td><%= item.dueDate %></td>
      <td><%= item.currentStatus %></td>
    </tr>
    <% }); %>
  </tbody>
</table>
<div class="summary">
  <h3>Summary of OOAC :-</h3>
  &nbsp &nbsp
  <p><%= product.ooacSummary %></p>
</div>

<h2>Review of OOAL(Microbiological)</h2>
<h3>Current Review Period OOAL</h3>
<table>
  <thead>
    <tr style="text-transform: uppercase;">
      <th >S. No</th>
      <th >Date Of Initiation</th>
      <th >Record No</th>
      <th >Site/Division</th>
      <th >Department</th>
      <th >Initiator</th>
      <th >Short Description</th>
      <th >Batch No</th>
      <th >Due Date</th>
      <th >Current Status</th>
  </thead>
  <tbody>
    <% product.currentOOAL.forEach((item,i) => { %>
    <tr>
      <td><%= item.S_No || i+1 %></td>
      <td><%= item.dateOfInitiation %></td>
      <td><%= item.recordNo %></td>
      <td><%= item.siteDivision %></td>
      <td><%= item.department %></td>
      <td><%= item.initiator%></td>
      <td><%= item.shortDescription %></td>
      <td><%= item.batchNo %></td>
      <td><%= item.dueDate %></td>
      <td><%= item.currentStatus %></td>
    </tr>
    <% }); %>
  </tbody>
</table>

<h3>Previous Review Period OOAL</h3>
<table>
  <thead>
    <tr style="text-transform: uppercase;">
      <th >S. No</th>
      <th >Date Of Initiation</th>
      <th >Record No</th>
      <th >Site/Division</th>
      <th >Department</th>
      <th >Initiator</th>
      <th >Short Description</th>
      <th >Batch No</th>
      <th >Due Date</th>
      <th >Current Status</th>
  </thead>
  <tbody>
    <% product.previewOOAL.forEach((item,i) => { %>
    <tr>
      <td><%= item.S_No || i+1 %></td>
      <td><%= item.dateOfInitiation %></td>
      <td><%= item.recordNo %></td>
      <td><%= item.siteDivision %></td>
      <td><%= item.department %></td>
      <td><%= item.initiator%></td>
      <td><%= item.shortDescription %></td>
      <td><%= item.batchNo %></td>
      <td><%= item.dueDate %></td>
      <td><%= item.currentStatus %></td>
    </tr>
    <% }); %>
  </tbody>
</table>
<div class="summary">
  <h3>Summary of OOAL :-</h3>
  &nbsp &nbsp
  <p><%= product.ooalSummary %></p>
</div>

<h2>Review of OOS (Analytical)</h2>
<h3>Current review period OOS</h3>
<table>
  <thead>
    <tr style="text-transform: uppercase;">
      <th >S. No</th>
      <th >Date Of Initiation</th>
      <th >Record No</th>
      <th >Site/Division</th>
      <th >Department</th>
      <th >Initiator</th>
      <th >Short Description</th>
      <th >Batch No</th>
      <th >Due Date</th>
      <th >Current Status</th>
  </thead>
  <tbody>
    <% product.currentOOSA.forEach((item,i) => { %>
    <tr>
      <td><%= item.S_No || i+1 %></td>
      <td><%= item.dateOfInitiation %></td>
      <td><%= item.recordNo %></td>
      <td><%= item.siteDivision %></td>
      <td><%= item.department %></td>
      <td><%= item.initiator%></td>
      <td><%= item.shortDescription %></td>
      <td><%= item.batchNo %></td>
      <td><%= item.dueDate %></td>
      <td><%= item.currentStatus %></td>
    </tr>
    <% }); %>
  </tbody>
  <h3>Previous review period OOS
  </h3>
  <table>
    <thead>
      <tr style="text-transform: uppercase;">
        <th >S. No</th>
        <th >Date Of Initiation</th>
        <th >Record No</th>
        <th >Site/Division</th>
        <th >Department</th>
        <th >Initiator</th>
        <th >Short Description</th>
        <th >Batch No</th>
        <th >Due Date</th>
        <th >Current Status</th>
    </thead>
    <tbody>
      <% product.previewOOSA.forEach((item,i) => { %>
      <tr>
        <td><%= item.S_No || i+1 %></td>
        <td><%= item.dateOfInitiation %></td>
        <td><%= item.recordNo %></td>
        <td><%= item.siteDivision %></td>
        <td><%= item.department %></td>
        <td><%= item.initiator%></td>
        <td><%= item.shortDescription %></td>
        <td><%= item.batchNo %></td>
        <td><%= item.dueDate %></td>
        <td><%= item.currentStatus %></td>
      </tr>
      <% }); %>
    </tbody>
  </table>
</table>
<div class="summary">
  <h3>Summary of OOSA :- </h3>
  &nbsp &nbsp
  <p><%= product.oosaSummary %></p>
</div>

<h2>Review of OOT (Analytical)</h2>
<h3>Current Review Period OOT</h3>
<table>
  <thead>
    <tr style="text-transform: uppercase;">
      <th >S. No</th>
      <th >Date Of Initiation</th>
      <th >Record No</th>
      <th >Site/Division</th>
      <th >Department</th>
      <th >Initiator</th>
      <th >Short Description</th>
      <th >Batch No</th>
      <th >Due Date</th>
      <th >Current Status</th>
  </thead>
  <tbody>
    <% product.currentOOT.forEach((item,i) => { %>
    <tr>
      <td><%= item.S_No || i+1 %></td>
      <td><%= item.dateOfInitiation %></td>
      <td><%= item.recordNo %></td>
      <td><%= item.siteDivision %></td>
      <td><%= item.department %></td>
      <td><%= item.initiator%></td>
      <td><%= item.shortDescription %></td>
      <td><%= item.batchNo %></td>
      <td><%= item.dueDate %></td>
      <td><%= item.currentStatus %></td>
    </tr>
    <% }); %>
  </tbody>
</table>

<h3>Previous Review Period OOS</h3>
<table>
  <thead>
    <tr style="text-transform: uppercase;">
      <th >S. No</th>
      <th >Date Of Initiation</th>
      <th >Record No</th>
      <th >Site/Division</th>
      <th >Department</th>
      <th >Initiator</th>
      <th >Short Description</th>
      <th >Batch No</th>
      <th >Due Date</th>
      <th >Current Status</th>
  </thead>
  <tbody>
    <% product.previewOOT.forEach((item,i) => { %>
    <tr>
      <td><%= item.S_No || i+1 %></td>
      <td><%= item.dateOfInitiation %></td>
      <td><%= item.recordNo %></td>
      <td><%= item.siteDivision %></td>
      <td><%= item.department %></td>
      <td><%= item.initiator%></td>
      <td><%= item.shortDescription %></td>
      <td><%= item.batchNo %></td>
      <td><%= item.dueDate %></td>
      <td><%= item.currentStatus %></td>
    </tr>
    <% }); %>
  </tbody>
</table>
<div class="summary">
  <h3>Summary of OOT :-</h3>
  &nbsp &nbsp
  <p><%= product.ootSummary %></p>
</div>
<h2>Review of Change Controls</h2>
<h3>Current Review Period Change Controls</h3>
<table>
  <thead>
    <tr style="text-transform: uppercase;">
      <th >S. No</th>
      <th >Date Of Initiation</th>
      <th >Record No</th>
      <th >Site/Division</th>
      <th >Department</th>
      <th >Initiator</th>
      <th >Short Description</th>
      <th >Batch No</th>
      <th >Due Date</th>
      <th >Current Status</th>
  </thead>
  <tbody>
    <% product.currentCC.forEach((item,i) => { %>
    <tr>
      <td><%= item.S_No || i+1 %></td>
      <td><%= item.dateOfInitiation %></td>
      <td><%= item.recordNo %></td>
      <td><%= item.siteDivision %></td>
      <td><%= item.department %></td>
      <td><%= item.initiator%></td>
      <td><%= item.shortDescription %></td>
      <td><%= item.batchNo %></td>
      <td><%= item.dueDate %></td>
      <td><%= item.currentStatus %></td>
    </tr>
    <% }); %>
  </tbody>
</table>

<h3>Previous Review Period Change Controls </h3>
<table>
  <thead>
    <tr style="text-transform: uppercase;">
      <th >S. No</th>
      <th >Date Of Initiation</th>
      <th >Record No</th>
      <th >Site/Division</th>
      <th >Department</th>
      <th >Initiator</th>
      <th >Short Description</th>
      <th >Batch No</th>
      <th >Due Date</th>
      <th >Current Status</th>
  </thead>
  <tbody>
    <% product.previewCC.forEach((item,i) => { %>
    <tr>
      <td><%= item.S_No || i+1 %></td>
      <td><%= item.dateOfInitiation %></td>
      <td><%= item.recordNo %></td>
      <td><%= item.siteDivision %></td>
      <td><%= item.department %></td>
      <td><%= item.initiator%></td>
      <td><%= item.shortDescription %></td>
      <td><%= item.batchNo %></td>
      <td><%= item.dueDate %></td>
      <td><%= item.currentStatus %></td>
    </tr>
    <% }); %>
  </tbody>
</table>
<div class="summary">
  <h3>Summary of Change Control :-</h3>
  &nbsp &nbsp
  <p><%= product.ccSummary %></p>
</div>

<h2>Review of Lab Incident</h2>
<h3>Current Review Lab Incident</h3>
<table>
  <thead>
    <tr style="text-transform: uppercase;">
      <th >S. No</th>
      <th >Date Of Initiation</th>
      <th >Record No</th>
      <th >Site/Division</th>
      <th >Department</th>
      <th >Initiator</th>
      <th >Short Description</th>
      <th >Batch No</th>
      <th >Due Date</th>
      <th >Current Status</th>
  </thead>
  <tbody>
    <% product.currentLabI.forEach((item,i) => { %>
    <tr>
      <td><%= item.S_No || i+1 %></td>
      <td><%= item.dateOfInitiation %></td>
      <td><%= item.recordNo %></td>
      <td><%= item.siteDivision %></td>
      <td><%= item.department %></td>
      <td><%= item.initiator%></td>
      <td><%= item.shortDescription %></td>
      <td><%= item.batchNo %></td>
      <td><%= item.dueDate %></td>
      <td><%= item.currentStatus %></td>
    </tr>
    <% }); %>
  </tbody>
</table>

<h3>Previous Review Lab Incident</h3>
<table>
  <thead>
    <tr style="text-transform: uppercase;">
      <th >S. No</th>
      <th >Date Of Initiation</th>
      <th >Record No</th>
      <th >Site/Division</th>
      <th >Department</th>
      <th >Initiator</th>
      <th >Short Description</th>
      <th >Batch No</th>
      <th >Due Date</th>
      <th >Current Status</th>
  </thead>
  <tbody>
    <% product.previewLabI.forEach((item,i) => { %>
    <tr>
      <td><%= item.S_No || i+1 %></td>
      <td><%= item.dateOfInitiation %></td>
      <td><%= item.recordNo %></td>
      <td><%= item.siteDivision %></td>
      <td><%= item.department %></td>
      <td><%= item.initiator%></td>
      <td><%= item.shortDescription %></td>
      <td><%= item.batchNo %></td>
      <td><%= item.dueDate %></td>
      <td><%= item.currentStatus %></td>
    </tr>
    <% }); %>
  </tbody>
</table>
<div class="summary">
  <h3>Summary of Lab Incident :-</h3>
  &nbsp &nbsp
  <p><%= product.liSummary %></p>
</div>

<h2>Review of Market Complaints</h2>
<h3>Current Review Period Complaints</h3>
<table>
  <thead>
    <tr style="text-transform: uppercase;">
      <th >S. No</th>
      <th >Date Of Initiation</th>
      <th >Record No</th>
      <th >Site/Division</th>
      <th >Department</th>
      <th >Initiator</th>
      <th >Short Description</th>
      <th >Batch No</th>
      <th >Due Date</th>
      <th >Current Status</th>
  </thead>
  <tbody>
    <% product.currentMC.forEach((item,i) => { %>
    <tr>
      <td><%= item.S_No || i+1 %></td>
      <td><%= item.dateOfInitiation %></td>
      <td><%= item.recordNo %></td>
      <td><%= item.siteDivision %></td>
      <td><%= item.department %></td>
      <td><%= item.initiator%></td>
      <td><%= item.shortDescription %></td>
      <td><%= item.batchNo %></td>
      <td><%= item.dueDate %></td>
      <td><%= item.currentStatus %></td>
    </tr>
    <% }); %>
  </tbody>
</table>

<h3>Previous Review Period Complaints</h3>
<table>
  <thead>
    <tr style="text-transform: uppercase;">
      <th >S. No</th>
      <th >Date Of Initiation</th>
      <th >Record No</th>
      <th >Site/Division</th>
      <th >Department</th>
      <th >Initiator</th>
      <th >Short Description</th>
      <th >Batch No</th>
      <th >Due Date</th>
      <th >Current Status</th>
  </thead>
  <tbody>
    <% product.previewMC.forEach((item,i) => { %>
    <tr>
      <td><%= item.S_No || i+1 %></td>
      <td><%= item.dateOfInitiation %></td>
      <td><%= item.recordNo %></td>
      <td><%= item.siteDivision %></td>
      <td><%= item.department %></td>
      <td><%= item.initiator%></td>
      <td><%= item.shortDescription %></td>
      <td><%= item.batchNo %></td>
      <td><%= item.dueDate %></td>
      <td><%= item.currentStatus %></td>
    </tr>
    <% }); %>
  </tbody>
</table>
<div class="summary">
  <h3>Summary of Market Complaints :-</h3>
  &nbsp &nbsp
  <p><%= product.mcSummary %></p>
</div>


<h2>Quality Related Notification</h2>
<h3>Current Review Period Quality Related Notification</h3>

<table>
  <thead>
    <tr style="text-transform: uppercase;">
      <th rowspan="2">Sl. No.</th>
      <th rowspan="2">Batch No.</th>
      <th class="text-center" colspan="4">Quality Related Notification</th>
      <th class="text-center" colspan="3">CAPA</th>
    </tr>
    <tr>
      <th>No.</th>
      <th>Description</th>
      <th>Impact</th>
      <th>Status</th>
    
      <th>Description No.</th>
      <th>Status</th>
      <th>EC</th>
    </tr>
  </thead>
  <tbody>
    <% product.currentRPQRN.forEach((item,i) => { %>
    <tr>
      <td><%= item.Sl_No || i+1 %></td>
      <td><%= item.batchNo %></td>
      <td><%= item.qualityRelatedNotification.no %></td>
      <td><%= item.qualityRelatedNotification.description %></td>
      <td><%= item.qualityRelatedNotification.impact	 %></td>
      <td><%= item.qualityRelatedNotification.status %></td>
      <td><%= item.cAPA.descriptionNo %></td>
      <td><%= item.cAPA.status %></td>
      <td><%= item.cAPA.eC %></td>
    </tr>
    <% }); %>
  </tbody>
  </table>

  <div class="summary">
    <h3>Summary of previous Review Period Quality Related Notification :-</h3>
    &nbsp &nbsp
    <p><%= product.prpqrn %></p>
  </div>

  <div class="summary">
    <h3>Summary of Review of Product Recalls :-</h3>
    &nbsp &nbsp
    <p><%= product.reviewOpr %></p>
  </div>
  <div class="summary">
    <h3>Summary of Review of Returned Products :-</h3>
    &nbsp &nbsp
    <p><%= product.reviewOrp %></p>
  </div>
  <div class="summary">
    <h3>Summary of Review of Salvaged Drugs :-</h3>
    &nbsp &nbsp
    <p><%= product.reviewOsd %></p>
  </div>
  <div class="summary">
    <h3>Summary of Review of previous PQR recommendations :-</h3>
    &nbsp &nbsp
    <p><%= product.reviewOppqrr %></p>
  </div>
  <div class="summary">
    <h3>Summary of Review of Quality Agreements :-</h3>
    &nbsp &nbsp
    <p><%= product.reviewOqa %></p>
  </div>
  <div class="summary">
    <h3>Summary of Review of Manufacturing Authorizations :-</h3>
    &nbsp &nbsp
    <p><%= product.reviewOma %></p>
  </div>
  <div class="summary">
    <h3>Summary of Review of Open Validations :-</h3>
    &nbsp &nbsp
    <p><%= product.reviewOov %></p>
  </div>

<!-- Tab 7 -->
<h1>Regulatory Review</h1>

<h3>Dossier variation details</h3>
<table>
  <thead>
    <tr style="text-transform: uppercase;">
      <th>Sl. No</th>
      <th>Agency</th>
      <th>Notification No	</th>
      <th>Notification Type	</th>
      <th>Description</th>
  </thead>
  <tbody>
    <% product.dossierRR.forEach((item,i) => { %>
    <tr>
      <td><%= item.Sl_No || i+1 %></td>
      <td><%= item.agency	 %></td>
      <td><%= item.notificationNo %></td>
      <td><%= item.notificationType %></td>
      <td><%= item.description %></td>
    </tr>
    <% }); %>
  </tbody>
</table>


<div class="summary">
  <h3>Summary of Dossier variation details  :-</h3>
  &nbsp &nbsp
  <p><%= product.dosVarSummary %></p>
</div>

<h3>New marketing authorisation</h3>
<table>
  <thead>
    <tr style="text-transform: uppercase;">
      <th>Sl. No</th>
      <th>Country Name</th>
      <th>Description Of Packing </th>
      <th>Date of Application	</th>
      <th>Status of Application	</th>
      <th>Date of Authorization	</th>
      <th>remarks</th>
  </thead>
  <tbody>
    <% product.dossierRRNma.forEach((item,i) => { %>
    <tr>
      <td><%= item.Sl_No || i+1  %></td>
      <td><%= item.countryName	 %></td>
      <td><%= item.descriptionOfPacking %></td>
      <td><%= item.dateOfApplication %></td>
      <td><%= item.statusOfApplication %></td>
      <td><%= item.dateOfAuthorization	 %></td>
      <td><%= item.remarks %></td>
    </tr>
    <% }); %>
  </tbody>
</table>
<div class="summary">
  <h3>Summary of New marketing authorisation:-</h3>
  &nbsp &nbsp
  <p><%= product.dosnewmSummary %></p>
</div>

<!-- Tab 8 -->
<h1>Recommendations</h1>
<h3>Recommendations Summary</h3>
<div class="summary">
  <h3>Summary of Recommendations :-</h3>
  &nbsp &nbsp
  <p><%= product.recSummary %></p>
</div>

<!-- Tab 9 -->
<!-- <h1>CAPA</h1> -->

<!-- Tab 10 -->
<h1>Discussion, Evaluation And Conclusion</h1>

<h3>Discussion Evaluation and Conclusion</h3>
<div class="summary">
  <h3>Summary of Discussion, Evaluation And Conclusion  :-</h3>
  &nbsp &nbsp
  <p><%= product.decSummary %></p>
</div>

<!-- Tab 11 -->
<h1>List Of Annexures/Attachments</h1>

<div class="summary">
  <h3>Annexure 1 :-</h3>
  &nbsp &nbsp
  <p><%= product.annexure1 %></p>
</div>
<div class="summary">
  <h3>Annexure 2 :-</h3>
  &nbsp &nbsp
  <p><%= product.annexure2 %></p>
</div>
<div class="summary">
  <h3>Annexure 3 :-</h3>
  &nbsp &nbsp
  <p><%= product.annexure3 %></p>
</div>
<div class="summary">
  <h3>Annexure 4 :-</h3>
  &nbsp &nbsp
  <p><%= product.annexure4 %></p>
</div>
<div class="summary">
  <h3>Annexure 5 :-</h3>
  &nbsp &nbsp
  <p><%= product.annexure5 %></p>
</div>
<div class="summary">
  <h3>Annexure 6 :-</h3>
  &nbsp &nbsp
  <p><%= product.annexure6 %></p>
</div>
<div class="summary">
  <h3>Annexure 7 :-</h3>
  &nbsp &nbsp
  <p><%= product.annexure7 %></p>
</div>
<div class="summary">
  <h3>Annexure 8 :-</h3>
  &nbsp &nbsp
  <p><%= product.annexure8 %></p>
</div>
<div class="summary">
  <h3>Annexure 9 :-</h3>
  &nbsp &nbsp
  <p><%= product.annexure9 %></p>
</div>
<div class="summary">
  <h3>Annexure 10 :-</h3>
  &nbsp &nbsp
  <p><%= product.annexure10 %></p>
</div>
<div class="summary">
  <h3>Annexure 11 :-</h3>
  &nbsp &nbsp
  <p><%= product.annexure11 %></p>
</div>
<div class="summary">
  <h3>Annexure 12 :-</h3>
  &nbsp &nbsp
  <p><%= product.annexure12 %></p>
</div>
<div class="summary">
  <h3>Annexure 13 :-</h3>
  &nbsp &nbsp
  <p><%= product.annexure13 %></p>
</div>
<div class="summary">
  <h3>Annexure 14 :-</h3>
  &nbsp &nbsp
  <p><%= product.annexure14 %></p>
</div>
<div class="summary">
  <h3>Annexure 15 :-</h3>
  &nbsp &nbsp
  <p><%= product.annexure15 %></p>
</div>
<div class="summary">
  <h3>Annexure 16 :-</h3>
  &nbsp &nbsp
  <p><%= product.annexure16 %></p>
</div>
<div class="summary">
  <h3>Annexure 17 :-</h3>
  &nbsp &nbsp
  <p><%= product.annexure17 %></p>
</div>
<div class="summary">
  <h3>Annexure 18 :-</h3>
  &nbsp &nbsp
  <p><%= product.annexure18 %></p>
</div>
<div class="summary">
  <h3>Annexure 19 :-</h3>
  &nbsp &nbsp
  <p><%= product.annexure19 %></p>
</div>
<div class="summary">
  <h3>Annexure 20 :-</h3>
  &nbsp &nbsp
  <p><%= product.annexure20 %></p>
</div>

  </body>
</html>
