<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Product Quality Review Report</title>
    <style>
      body {
        font-family: Arial, sans-serif;
        margin: 0;
        
      }
      table {
        width: 100%;
        border-collapse: collapse;
        margin-bottom: 20px;
        border-right: 2px solid black;
      }
      th,
      td {
        border: 1px solid black;
        padding: 8px;
        text-align: left;
      }
      th {
        background-color: #f2f2f2;
      }
      .highlight {
        background-color: yellow;
      }
      .text-center {
        text-align: center;
      }
      .header {
        font-family: monospace;
      }
    </style>
  </head>
  <body>
    <h1>General Information</h1>
    <table>
      <tr>
        <td>PQR NO.</td>
        <td><%= product.pqrNo %></td>
      </tr>
      <tr>
        <td>PRODUCT NAME</td>
        <td><%= product.productName %></td>
      </tr>
      <tr>
        <td>GENERIC NAME</td>
        <td><%= product.genericName %></td>
      </tr>
      <tr>
        <td>PRODUCT CODE</td>
        <td><%= product.productCode %></td>
      </tr>
      <tr>
        <td>REVIEW PERIOD</td>
        <td><%= product.reviewPeriod %></td>
      </tr>
      <tr>
        <td>MFG. LIC. No.</td>
        <td><%= product.mfgLicNo %></td>
      </tr>
    </table>
    <h3>Manufacturing Site Address</h3>
    <table>
      <tr>
        <th>Site</th>
        <th>SFGCode</th>
        <th>FG Code</th>
      </tr>
      <% product.ManuSiteGrid.map((obj) => { %>
      <tr>
        <td><%= obj.productName %></td>
        <td><%= obj.sFGCode %></td>
        <td><%= obj.fGCode %></td>
      </tr>
      <% }); %>
    </table>
    <h1>Warehouse Review</h1>
    <h3>Raw Materials Rejection Grid</h3>
    <table>
      <thead>
        <tr>
          <th>SI No</th>
          <th>Material Code</th>
          <th>Material Name</th>
          <th>Lot No/AR No</th>
          <th>Reason For Rejection</th>
          <th>Description</th>
        </tr>
      </thead>
    </table>
  </body>
</html>
