<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Product Quality Review Report</title>
    <style>
      body {
        font-family: Arial, sans-serif;
        margin: 0;
      }
      table {
        width: 100%;
        border-collapse: collapse;
        margin-bottom: 20px;
        border-right: 2px solid black;
      }
      th,
      td {
        border: 2px solid black;
        padding: 8px;
        text-align: left;
      }
      th {
        background-color: #f2f2f2;
      }
      .highlight {
        background-color: yellow;
      }
      .text-center {
        text-align: center;
      }
      .header {
        font-family: monospace;
      }
      .summary {
        display: flex;
        align-items: center;
      }
    </style>
  </head>
  <body>
    <!-- Tab 1 -->
    <h1>General Information</h1>
    <table>
      <tr>
        <td>PQR NO.</td>
        <td><%= product.pqrNo %></td>
      </tr>
      <tr>
        <td>PRODUCT NAME</td>
        <td><%= product.productName %></td>
      </tr>
      <tr>
        <td>GENERIC NAME</td>
        <td><%= product.genericName %></td>
      </tr>
      <tr>
        <td>PRODUCT CODE</td>
        <td><%= product.productCode %></td>
      </tr>
      <tr>
        <td>REVIEW PERIOD</td>
        <td><%= product.reviewPeriod %></td>
      </tr>
      <tr>
        <td>MFG. LIC. No.</td>
        <td><%= product.mfgLicNo %></td>
      </tr>
    </table>

    <h3>Manufacturing Site Address</h3>
    <table>
      <tr>
        <th>Site</th>
        <th>SFGCode</th>
        <th>FG Code</th>
      </tr>
      <% product.ManuSiteGrid.map((obj) => { %>
      <tr>
        <td><%= obj.productName %></td>
        <td><%= obj.sFGCode %></td>
        <td><%= obj.fGCode %></td>
      </tr>
      <% }); %>
    </table>

    <!-- Tab 2 -->
    <h1>Warehouse Review</h1>
    <h2>Review of Rejected Raw Materials and Packaging Materials</h1>

    <h3>Raw Materials Rejection Grid</h3>
    <table>
      <thead>
        <tr>
          <th>SI No</th>
          <th>Material Code</th>
          <th>Material Name</th>
          <th>Lot No/AR No</th>
          <th>Reason For Rejection</th>
          <th>Description</th>
        </tr>
      </thead>
      <tbody>
        <% product.rawMatRejectionGrid.forEach((item) => { %>
        <tr>
          <td><%= item.SI_No %></td>
          <td><%= item.MaterialCode %></td>
          <td><%= item.MaterialName %></td>
          <td><%= item.LotNo_ArNo %></td>
          <td><%= item.ReasonForRejection %></td>
          <td><%= item.Description %></td>
        </tr>
        <% }); %>
      </tbody>
    </table>

    <div class="summary">
      <h3>Raw Materials Rejection Summary :-</h3>
      &nbsp &nbsp
      <p><%= product.rawMatRejectionSummary %></p>
    </div>

    <h3>Packing Materials Rejection Grid</h3>
    <table>
      <thead>
        <tr>
          <th>SI No</th>
          <th>Material Code</th>
          <th>Material Name</th>
          <th>Lot No/AR No</th>
          <th>Reason For Rejection</th>
          <th>Description</th>
        </tr>
      </thead>
      <tbody>
        <% product.packagingMatRejectionGrid.forEach((item) => { %>
        <tr>
          <td><%= item.SI_No %></td>
          <td><%= item.MaterialCode %></td>
          <td><%= item.MaterialName %></td>
          <td><%= item.LotNo_ArNo %></td>
          <td><%= item.ReasonForRejection %></td>
          <td><%= item.Description %></td>
        </tr>
        <% }); %>
      </tbody>
    </table>

    <div class="summary">
      <h3>Packaging Materials Rejection Summary :-</h3>
      &nbsp &nbsp
      <p><%= product.packagingMatRejectionSummary %></p>
    </div>

    <h2>Review of Expired Raw Materials and Packaging Materials</h2>
    <h3>Expired Raw Materials Details</h3>
    <table>
      <thead>
        <tr>
          <th>SI No</th>
          <th>Material Code</th>
          <th>Material Name</th>
          <th>Lot No/AR No</th>
          <th>Description</th>
        </tr>
      </thead>
      <tbody>
        <% product.expireRawMatGrid.forEach((item) => { %>
        <tr>
          <td><%= item.SI_No %></td>
          <td><%= item.MaterialCode %></td>
          <td><%= item.MaterialName %></td>
          <td><%= item.LotNo_ArNo %></td>
          <td><%= item.Description %></td>
        </tr>
        <% }); %>
      </tbody>
    </table>

    <div class="summary">
      <h3>Expired Raw Materials Summary :-</h3>
      &nbsp &nbsp
      <p><%= product.expireRawMatSummary %></p>
    </div>

    <h3>Expired Packaging Materials Details</h3>
    <table>
      <thead>
        <tr>
          <th>SI No</th>
          <th>Material Code</th>
          <th>Material Name</th>
          <th>Lot No/AR No</th>
          <th>Description</th>
        </tr>
      </thead>
      <tbody>
        <% product.expirePackagingMatGrid.forEach((item) => { %>
        <tr>
          <td><%= item.SI_No %></td>
          <td><%= item.MaterialCode %></td>
          <td><%= item.MaterialName %></td>
          <td><%= item.LotNo_ArNo %></td>
          <td><%= item.Description %></td>
        </tr>
        <% }); %>
      </tbody>
    </table>

    <div class="summary">
      <h3>Expired Packaging Materials Summary :-</h3>
      &nbsp &nbsp
      <p><%= product.expirePackagingMatSummary %></p>
    </div>

    <h2>Review of Approved Supplier List:</h2>
    <table>
      <thead>
        <tr>
          <th>SI No</th>
          <th>Material Code</th>
          <th>Material Name</th>
          <th>Manufacturer / Supplier / Vendor</th>
          <th>Facility</th>
        </tr>
      </thead>
      <tbody>
        <% product.aslGrid.forEach((item) => { %>
        <tr>
          <td><%= item.SI_No %></td>
          <td><%= item.MaterialCode %></td>
          <td><%= item.MaterialName %></td>
          <td><%= item.Manufacturer_Supplier_Vendor %></td>
          <td><%= item.Facility %></td>
        </tr>
        <% }); %>
      </tbody>
    </table>

    <div class="summary">
      <h3>Summary of Review of Approved Supplier List :-</h3>
      &nbsp &nbsp
      <p><%= product.aslSummary %></p>
    </div>

    <h2>Vendor Qualification Details of Raw Material Excipients</h2>
    <table>
      <thead>
        <tr>
          <th>Material Code</th>
          <th>Material Name</th>
          <th>Manufacturer Name</th>
          <th>Qualification Status</th>
          <th>Remarks</th>
        </tr>
      </thead>
      <tbody>
        <% product.vqdGrid.forEach((item) => { %>
        <tr>
          <td><%= item.MaterialName %></td>
          <td><%= item.MaterialCode %></td>
          <td><%= item.Manufacturer_Name %></td>
          <td><%= item.Qualification_Status %></td>
          <td><%= item.Remarks %></td>
        </tr>
        <% }); %>
      </tbody>
    </table>

    <div class="summary">
      <h3>Summary of Review of Approved Supplier List :-</h3>
      &nbsp &nbsp
      <p><%= product.vqdSummary %></p>
    </div>

    <h2>Vendor Qualification Details of Primary Packing Materials</h2>
    <table>
      <thead>
        <tr>
          <th>Material Name</th>
          <th>Material Code</th>
          <th>Manufacturer Name</th>
          <th>Qualification Status</th>
        </tr>
      </thead>
      <tbody>
        <% product.vqdPPMGrid.forEach((item) => { %>
        <tr>
          <td><%= item.MaterialName %></td>
          <td><%= item.MaterialCode %></td>
          <td><%= item.Manufacturer_Name %></td>
          <td><%= item.Qualification_Status %></td>
        </tr>
        <% }); %>
      </tbody>
    </table>

    <div class="summary">
      <h3>Summary of Vendor Qualification Details of Primary Packing Materials :-</h3>
      &nbsp &nbsp
      <p><%= product.vqdPPMSummary %></p>
    </div>

    <h2>Vendor Qualification Details of Process Gases</h2>
    <table>
      <thead>
        <tr>
          <th>Gas Name</th>
          <th>Gas Code</th>
          <th>Manufacturer Name</th>
          <th>Qualification Status</th>
        </tr>
      </thead>
      <tbody>
        <% product.vqdPGGrid.forEach((item) => { %>
        <tr>
          <td><%= item.GasName %></td>
          <td><%= item.GasCode %></td>
          <td><%= item.Manufacturer_Name %></td>
          <td><%= item.Qualification_Status %></td>
        </tr>
        <% }); %>
      </tbody>
    </table>

    <div class="summary">
      <h3>Summary of Vendor Qualification Details of Process Gases :-</h3>
      &nbsp &nbsp
      <p><%= product.vqdPGSummary %></p>
    </div>

    <!-- Tab 3 -->
     <h1>Manufacturing Review</h1>
       <table>
      <tr>
        <td>PRODUCT INFO</td>
        <td><%= product.productInfo %></td>
      </tr>
      <tr>
        <td>PRODUCT NAME</td>
        <td><%= product.processFlow %></td>
      </tr>
    </table>

    <h2>Review of all Batches Manufactured</h2>

    <table>
      <tr>
        <td style="text-transform: uppercase;">Total No. of batches manufactured during the current review period</td>
        <td><%= product.totalBatchesManu %></td>
      </tr>
      <tr>
        <td style="text-transform: uppercase;">Total No. of batches Approved & Released</td>
        <td><%= product.totalBatchesApproved %></td>
      </tr>
      <tr>
        <td style="text-transform: uppercase;">Total No. of Process Validation Batches</td>
        <td><%= product.totalNoValidationprocessedBatches %></td>
      </tr>
      <tr>
        <td style="text-transform: uppercase;">Total No. of Reprocessed Batches</td>
        <td><%= product.totalNoReprocessedBatches %></td>
      </tr>
      <tr>
        <td style="text-transform: uppercase;">Process Validation Batches Details</td>
        <td><%= product.processValidationBatchesDetails %></td>
      </tr>
      <tr>
        <td style="text-transform: uppercase;">Reprocessing Details</td>
        <td><%= product.reprocessingDetails %></td>
      </tr>
      <tr>
        <td style="text-transform: uppercase;">Microbial Excursion Details</td>
        <td><%= product.microbialExcursionDetails %></td>
      </tr>
    </table>

    <h2>Code to code transfer details</h2>
    <table>
      <thead>
        <tr style="text-transform: uppercase;">
          <th>SL NO</th>
          <th>Batch Number</th>
          <th>Existing Code</th>
          <th>Existing Market</th>
          <th>Proposed Code</th>
          <th>Proposed Market</th>
          <th>Transfter Quantity</th>
          <th>Ref No</th>
        </tr>
      </thead>
      <tbody>
        <% product.codeToCodetransferDetails.forEach((item) => { %>
        <tr>
          <td><%= item.Sl_No %></td>
          <td><%= item.BatchNumber %></td>
          <td><%= item.ExistingCode %></td>
          <td><%= item.ExistingMarket %></td>
          <td><%= item.ProposedCode %></td>
          <td><%= item.ProposedMarket %></td>
          <td><%= item.TransferQuantity %></td>
          <td><%= item.RefNo %></td>
        </tr>
        <% }); %>
      </tbody>
    </table>

    <div class="summary">
      <h3>Summary of Code to Code Transfer Details :-</h3>
      &nbsp &nbsp
      <p><%= product.codeToCodetransferSummary %></p>
    </div>

    <div class="summary">
      <h3>Review of Manufacturing Process, Packing Process and relevant Validation Status :-</h3>
      &nbsp &nbsp
      <p><%= product.reviewOFManuProcessSummary %></p>
    </div>

    <h2>Review of Reprocessing/Repacking/Reworking along with CAPA and Effectiveness Check Verification (if any)</h2>
    <div class="summary">
      <h3>Batch reprocessing/reworking process Details :-</h3>
      &nbsp &nbsp
      <p><%= product.brpDetails %></p>
    </div>

    <div class="summary">
      <h3>Batch Repacking Details :-</h3>
      &nbsp &nbsp
      <p><%= product.batchRepackingDetails %></p>
    </div>

    <h3>Review of Reprocessing/Repacking/Reworking Grid</h3>
    <table>
      <thead>
        <tr style="text-transform: uppercase;">
          <th>SL NO</th>
          <th> Packing Batch Number</th>
          <th>Manufacturin Batch Number</th>
          <th>Repacking Issued Number</th>
          <th>Repacking For</th>
          <th>QMS</th>
          <th>Reason For Repacking</th>
        </tr>
      </thead>
      <tbody>
        <% product.reviewOfReprocessingGrid.forEach((item) => { %>
        <tr>
          <td><%= item.Sl_No %></td>
          <td><%= item.PackingBatchNumber %></td>
          <td><%= item.ManuBatchNumber %></td>
          <td><%= item.RepackingIssuedNumber %></td>
          <td><%= item.RepackingFor %></td>
          <td><%= item.QMS %></td>
          <td><%= item.ReasonForRepacking %></td>
        </tr>
        <% }); %>
      </tbody>
    </table>

    <h3>Capa Details</h3>
    <table>
      <thead>
        <tr style="text-transform: uppercase;">
          <th>AR No</th>
          <th>CAPAType</th>
          <th>Description of Issue</th>
          <th>Root Cause</th>
          <th>CAPA Verification</th>
          <th>CAPA Status</th>
          <th>Effectiveness Check</th>
        </tr>
      </thead>
      <tbody>
        <% product.capaDetailsGrid.forEach((item) => { %>
        <tr>
          <td><%= item.Ar_No %></td>
          <td><%= item.CAPAType %></td>
          <td><%= item.DescriptionOfIssue %></td>
          <td><%= item.RootCause %></td>
          <td><%= item.CAPAVerification %></td>
          <td><%= item.FileAttachment %></td>
          <td><%= item.Remarks %></td>
        </tr>
        <% }); %>
      </tbody>
    </table>

    <div class="summary">
      <h3>Summary of CAPA Details :-</h3>
      &nbsp &nbsp
      <p><%= product.capaDetailsSummary %></p>
    </div>

    <h3>Deviation Details</h3>
    <table>
      <thead>
        <tr style="text-transform: uppercase;">
          <th>AR No</th>
          <th>CAPAType</th>
          <th>Description of Issue</th>
          <th>Root Cause</th>
          <th>CAPA Verification</th>
          <th>CAPA Status</th>
          <th>Effectiveness Check</th>
        </tr>
      </thead>
      <tbody>
        <% product.deviationDetailsGrid.forEach((item) => { %>
        <tr>
          <td><%= item.Ar_No %></td>
          <td><%= item.DeviationRelatedTo %></td>
          <td><%= item.Description %></td>
          <td><%= item.RootCause %></td>
          <td><%= item.DeviationObservedOn %></td>
          <td><%= item.DeviationObservedBy %></td>
          <td><%= item.ClassificationOfDeviation %></td>
          <td><%= item.FileAttachment %></td>
          <td><%= item.Remarks %></td>
          <td><%= item.Status %></td>
        </tr>
        <% }); %>
      </tbody>
    </table>

    <div class="summary">
      <h3>Summary of Deviation Details :-</h3>
      &nbsp &nbsp
      <p><%= product.deviationDetailsSummary %></p>
    </div>

    <h2>Review of all Batch Failures/Rejections along with CAPA and Effectiveness Check Verification (if any):</h2>

    <h3>Batch Failures/Rejections Details</h3>

    <div class="summary">
      <h3>Summary of Batch Failures/Rejections Details :-</h3>
      &nbsp &nbsp
      <p><%= product.batchFailuresRejectionsSummary %></p>
    </div>

    <h3>OOS Details</h3>
    <table>
      <thead>
        <tr style="text-transform: uppercase;">
          <th>AR No</th>
          <th>Test Name Of OOS</th>
          <th>Results Obtained</th>
          <th>Specification Limit</th>
          <th>Details of Obvious error</th>
          <th>File Attachment</th>
        </tr>
      </thead>
      <tbody>
        <% product.OosDetails.forEach((item) => { %>
        <tr>
          <td><%= item.Ar_No %></td>
          <td><%= item.TestNameofOOS %></td>
          <td><%= item.ResultsObtained %></td>
          <td><%= item.SpecificationLimit %></td>
          <td><%= item.DetailsOfObviousError %></td>
          <td><%= item.FileAttachment %></td>
        </tr>
        <% }); %>
      </tbody>
    </table>

    <div class="summary">
      <h3>Summary of OOS Details :-</h3>
      &nbsp &nbsp
      <p><%= product.OosDetailsSummary %></p>
    </div>

    <h3>OOT Results</h3>
    <table>
      <thead
        <tr style="text-transform: uppercase;">
          <th>AR No</th>
          <th>Test Name Of OOT</th>
          <th>Results Obtained</th>
          <th>Initial Interval Details</th>
          <th>Previous Interval Details</th>
          <th>% Difference Of Details</th>
          <th>Trend Alert</th>
        </tr>
      </thead>
      <tbody>
        <% product.ootDetails.forEach((item) => { %>
        <tr>
          <td><%= item.Ar_No %></td>
          <td><%= item.TestNameofOOT %></td>
          <td><%= item.ResultsObtained %></td>
          <td><%= item.InitialIntervalDetails %></td>
          <td><%= item.PreviousInternalDetails %></td>
          <td><%= item.PercentDifference %></td>
          <td><%= item.TrendAlert %></td>
        </tr>
        <% }); %>
      </tbody>
    </table>

    <div class="summary">
      <h3>Summary of OOT Details :-</h3>
      &nbsp &nbsp
      <p><%= product.ootDetailsSummary %></p>
    </div>

    <h3>OOA Results</h3>
    <table>
      <thead>
        <tr style="text-transform: uppercase;">
          <th>AR No</th>
          <th>Test Name Of OOA</th>
          <th>Results Obtained</th>
          <th>Initial Interval Details</th>
          <th>Previous Interval Details</th>
          <th>% Difference Of Details</th>
          <th>Trend Alert</th>
        </tr>
      </thead>
      <tbody>
        <% product.ooaDetails.forEach((item) => { %>
        <tr>
          <td><%= item.Ar_No %></td>
          <td><%= item.TestNameofOOA %></td>
          <td><%= item.ResultsObtained %></td>
          <td><%= item.InitialIntervalDetails %></td>
          <td><%= item.PreviousInternalDetails %></td>  
          <td><%= item.PercentDifference %></td>
          <td><%= item.TrendAlert %></td>
        </tr>
        <% }); %>
      </tbody>
    </table>

    <div class="summary">
      <h3>Summary of OOA Details :-</h3> 
      &nbsp &nbsp
      <p><%= product.ooaDetailsSummary %></p>
    </div>

    <h3>OOL Results</h3>
    <table>
      <thead>
        <tr style="text-transform: uppercase;">
          <th>AR No</th>
          <th>Test Name Of OOL</th>
          <th>Results Obtained</th>
          <th>Initial Interval Details</th>
          <th>Previous Interval Details</th>
          <th>% Difference Of Details</th>
          <th>Trend Alert</th>
        </tr>
      </thead>
      <tbody>
        <% product.oolDetails.forEach((item) => { %>
        <tr>
          <td><%= item.Ar_No %></td>
          <td><%= item.TestNameofOOL %></td>
          <td><%= item.ResultsObtained %></td>
          <td><%= item.InitialIntervalDetails %></td>
          <td><%= item.PreviousInternalDetails %></td>
          <td><%= item.PercentDifference %></td>
          <td><%= item.TrendAlert %></td>
        </tr>
        <% }); %>
      </tbody>
    </table>

    <div class="summary">
      <h3>Summary of OOL Details :-</h3>
      &nbsp &nbsp
      <p><%= product.oolDetailsSummary %></p>
    </div>

    <h2>Review of Product Quality (Critical Process Parameters)</h2>
    <h3>Unit Operation 1</h3>
    <table>
      <thead>
        <tr style="text-transform: uppercase;">
          <th rowspan="2">Critical Process Parameter</th>
          <th rowspan="2">Codes</th>
          <th rowspan="2">Acceptance criteria</th>
          <th colspan="2">Results </th>
          <th rowspan="2">Complies / Does not complies</th>
        </tr>
        <tr>
          <th>Minimum</th>
          <th>Maximum</th>
        </tr>
      </thead>
      <tbody>
        <% product.unitOperation1.forEach((item) => { %>
        <tr>
          <td><%= item.CriticalProcessParameters %></td>
          <td><%= item.Codes %></td>
          <td><%= item.AcceptanceCriteria %></td>
          <td><%= item.Results.Minimum %></td>
          <td><%= item.Results.Maximum %></td>
          <td><%= item.CompliesNotComplies %></td>
        </tr>
        <% }); %>
      </tbody>
    </table>

        <h3>Unit Operation 2</h3>
    <table>
      <thead>
        <tr style="text-transform: uppercase;">
          <th rowspan="2">Critical Process Parameter</th>
          <th rowspan="2">Codes</th>
          <th rowspan="2">Acceptance criteria</th>
          <th colspan="2">Results </th>
          <th rowspan="2">Complies / Does not complies</th>
        </tr>
        <tr>
          <th>Minimum</th>
          <th>Maximum</th>
        </tr>
      </thead>
      <tbody>
        <% product.unitOperation1.forEach((item) => { %>
        <tr>
          <td><%= item.CriticalProcessParameters %></td>
          <td><%= item.Codes %></td>
          <td><%= item.AcceptanceCriteria %></td>
          <td><%= item.Results.Minimum %></td>
          <td><%= item.Results.Maximum %></td>
          <td><%= item.CompliesNotComplies %></td>
        </tr>
        <% }); %>
      </tbody>
    </table>

        <h3>Unit Operation 3</h3>
    <table>
      <thead>
        <tr style="text-transform: uppercase;">
          <th rowspan="2">Critical Process Parameter</th>
          <th rowspan="2">Codes</th>
          <th rowspan="2">Acceptance criteria</th>
          <th colspan="2">Results </th>
          <th rowspan="2">Complies / Does not complies</th>
        </tr>
        <tr>
          <th>Minimum</th>
          <th>Maximum</th>
        </tr>
      </thead>
      <tbody>
        <% product.unitOperation1.forEach((item) => { %>
        <tr>
          <td><%= item.CriticalProcessParameters %></td>
          <td><%= item.Codes %></td>
          <td><%= item.AcceptanceCriteria %></td>
          <td><%= item.Results.Minimum %></td>
          <td><%= item.Results.Maximum %></td>
          <td><%= item.CompliesNotComplies %></td>
        </tr>
        <% }); %>
      </tbody>
    </table>

        <h3>Unit Operation 4</h3>
    <table>
      <thead>
        <tr style="text-transform: uppercase;">
          <th rowspan="2">Critical Process Parameter</th>
          <th rowspan="2">Codes</th>
          <th rowspan="2">Acceptance criteria</th>
          <th colspan="2">Results </th>
          <th rowspan="2">Complies / Does not complies</th>
        </tr>
        <tr>
          <th>Minimum</th>
          <th>Maximum</th>
        </tr>
      </thead>
      <tbody>
        <% product.unitOperation1.forEach((item) => { %>
        <tr>
          <td><%= item.CriticalProcessParameters %></td>
          <td><%= item.Codes %></td>
          <td><%= item.AcceptanceCriteria %></td>
          <td><%= item.Results.Minimum %></td>
          <td><%= item.Results.Maximum %></td>
          <td><%= item.CompliesNotComplies %></td>
        </tr>
        <% }); %>
      </tbody>
    </table>

        <h3>Unit Operation 5</h3>
    <table>
      <thead>
        <tr style="text-transform: uppercase;">
          <th rowspan="2">Critical Process Parameter</th>
          <th rowspan="2">Codes</th>
          <th rowspan="2">Acceptance criteria</th>
          <th colspan="2">Results </th>
          <th rowspan="2">Complies / Does not complies</th>
        </tr>
        <tr>
          <th>Minimum</th>
          <th>Maximum</th>
        </tr>
      </thead>
      <tbody>
        <% product.unitOperation1.forEach((item) => { %>
        <tr>
          <td><%= item.CriticalProcessParameters %></td>
          <td><%= item.Codes %></td>
          <td><%= item.AcceptanceCriteria %></td>
          <td><%= item.Results.Minimum %></td>
          <td><%= item.Results.Maximum %></td>
          <td><%= item.CompliesNotComplies %></td>
        </tr>
        <% }); %>
      </tbody>
    </table>
  </body>
</html>
